/* overide Foundation settings */
/* custom vars */
/*
	Name That Color has been used for most colour names
	http://chir.ag/projects/name-that-color/
*/
/*
	Vertical Rhythm
*/
/*
	Max width for xlarge viewports
*/
/*
	Z-indexes
*/
/* @start Palette Variables */
/*
	color name was used from confluence
	https://confluence.lbi.co.uk/display/NTWR/Top+Tier+colour+palettes
	https://confluence.lbi.co.uk/display/NTWR/Second+Tier+colour+palettes
	https://confluence.lbi.co.uk/display/NTWR/Search+colour+palette
*/
/************ Top Tier Color Palette ***********/
/* @end Set Palettes - Top Tier */
/************ Second Tier Color Palette ***********/
/************ Search Color Palette ***********/
/************ Calendar Palette ***********/
/************ Other Palette ***********/
/* @end Palette Variables */
/* @start Palette Mixins */
/* Used by mixin set-palette and mixin set-palette-ie8 only */
/* Used by mixin set-palette only */
/* Used by mixin set-palette-ie8 only */
/* @end Palette Mixins */
/* @start Set Palettes - Top Tier */
.nt-palette-primary,
.nt-palette-secondary .nt-palette-primary,
.nt-palette-neutral .nt-palette-primary,
a.nt-palette-primary,
.nt-palette-active-primary.active,
a.nt-palette-active-primary.active {
  color: #2c2c2c;
  background-color: #D2DB30; }
  .nt-palette-primary:before, .nt-palette-primary:after,
  .nt-palette-secondary .nt-palette-primary:before,
  .nt-palette-secondary .nt-palette-primary:after,
  .nt-palette-neutral .nt-palette-primary:before,
  .nt-palette-neutral .nt-palette-primary:after,
  a.nt-palette-primary:before,
  a.nt-palette-primary:after,
  .nt-palette-active-primary.active:before,
  .nt-palette-active-primary.active:after,
  a.nt-palette-active-primary.active:before,
  a.nt-palette-active-primary.active:after {
    color: #2c2c2c;
    background-color: #D2DB30; }
  .nt-palette-primary .nt-tabs li a:hover, .nt-palette-primary .nt-tabs li a:focus, .nt-palette-primary .nt-tabs li a.active,
  .nt-palette-primary .nt-button:hover,
  .nt-palette-primary .nt-button:focus,
  .nt-palette-primary .nt-button.active,
  .nt-palette-secondary .nt-palette-primary .nt-tabs li a:hover,
  .nt-palette-secondary .nt-palette-primary .nt-tabs li a:focus,
  .nt-palette-secondary .nt-palette-primary .nt-tabs li a.active,
  .nt-palette-secondary .nt-palette-primary .nt-button:hover,
  .nt-palette-secondary .nt-palette-primary .nt-button:focus,
  .nt-palette-secondary .nt-palette-primary .nt-button.active,
  .nt-palette-neutral .nt-palette-primary .nt-tabs li a:hover,
  .nt-palette-neutral .nt-palette-primary .nt-tabs li a:focus,
  .nt-palette-neutral .nt-palette-primary .nt-tabs li a.active,
  .nt-palette-neutral .nt-palette-primary .nt-button:hover,
  .nt-palette-neutral .nt-palette-primary .nt-button:focus,
  .nt-palette-neutral .nt-palette-primary .nt-button.active,
  a.nt-palette-primary .nt-tabs li a:hover,
  a.nt-palette-primary .nt-tabs li a:focus,
  a.nt-palette-primary .nt-tabs li a.active,
  a.nt-palette-primary .nt-button:hover,
  a.nt-palette-primary .nt-button:focus,
  a.nt-palette-primary .nt-button.active,
  .nt-palette-active-primary.active .nt-tabs li a:hover,
  .nt-palette-active-primary.active .nt-tabs li a:focus,
  .nt-palette-active-primary.active .nt-tabs li a.active,
  .nt-palette-active-primary.active .nt-button:hover,
  .nt-palette-active-primary.active .nt-button:focus,
  .nt-palette-active-primary.active .nt-button.active,
  a.nt-palette-active-primary.active .nt-tabs li a:hover,
  a.nt-palette-active-primary.active .nt-tabs li a:focus,
  a.nt-palette-active-primary.active .nt-tabs li a.active,
  a.nt-palette-active-primary.active .nt-button:hover,
  a.nt-palette-active-primary.active .nt-button:focus,
  a.nt-palette-active-primary.active .nt-button.active {
    color: #D2DB30;
    background-color: #2c2c2c;
    border-color: #2c2c2c; }
  .nt-palette-primary .active > .nt-button,
  .nt-palette-secondary .nt-palette-primary .active > .nt-button,
  .nt-palette-neutral .nt-palette-primary .active > .nt-button,
  a.nt-palette-primary .active > .nt-button,
  .nt-palette-active-primary.active .active > .nt-button,
  a.nt-palette-active-primary.active .active > .nt-button {
    color: #D2DB30;
    background-color: #2c2c2c; }
  .nt-palette-primary.nt-link-invert:hover,
  .nt-palette-primary .nt-link-invert:hover,
  .nt-palette-secondary .nt-palette-primary.nt-link-invert:hover,
  .nt-palette-secondary .nt-palette-primary .nt-link-invert:hover,
  .nt-palette-neutral .nt-palette-primary.nt-link-invert:hover,
  .nt-palette-neutral .nt-palette-primary .nt-link-invert:hover,
  a.nt-palette-primary.nt-link-invert:hover,
  a.nt-palette-primary .nt-link-invert:hover,
  .nt-palette-active-primary.active.nt-link-invert:hover,
  .nt-palette-active-primary.active .nt-link-invert:hover,
  a.nt-palette-active-primary.active.nt-link-invert:hover,
  a.nt-palette-active-primary.active .nt-link-invert:hover {
    background-color: #2c2c2c;
    color: #D2DB30; }
  .nt-palette-primary.nt-palette-inverted,
  .nt-palette-secondary .nt-palette-primary.nt-palette-inverted,
  .nt-palette-neutral .nt-palette-primary.nt-palette-inverted,
  a.nt-palette-primary.nt-palette-inverted,
  .nt-palette-active-primary.active.nt-palette-inverted,
  a.nt-palette-active-primary.active.nt-palette-inverted {
    color: #D2DB30;
    background-color: #2c2c2c; }
    .nt-palette-primary.nt-palette-inverted:before, .nt-palette-primary.nt-palette-inverted:after,
    .nt-palette-secondary .nt-palette-primary.nt-palette-inverted:before,
    .nt-palette-secondary .nt-palette-primary.nt-palette-inverted:after,
    .nt-palette-neutral .nt-palette-primary.nt-palette-inverted:before,
    .nt-palette-neutral .nt-palette-primary.nt-palette-inverted:after,
    a.nt-palette-primary.nt-palette-inverted:before,
    a.nt-palette-primary.nt-palette-inverted:after,
    .nt-palette-active-primary.active.nt-palette-inverted:before,
    .nt-palette-active-primary.active.nt-palette-inverted:after,
    a.nt-palette-active-primary.active.nt-palette-inverted:before,
    a.nt-palette-active-primary.active.nt-palette-inverted:after {
      color: #D2DB30;
      background-color: #2c2c2c; }
  .nt-palette-primary.nt-palette-hover:hover, .nt-palette-primary.nt-palette-hover:hover:before, .nt-palette-primary.nt-palette-hover:hover + .nt-palette-adjacent-hover, .nt-palette-primary.nt-palette-hover:hover + .nt-palette-adjacent-hover:before, .nt-palette-primary.nt-palette-hover:hover .nt-palette-inner-hover, .nt-palette-primary.nt-palette-hover:hover .nt-palette-inner-hover:before, .nt-palette-primary.nt-palette-hover:focus, .nt-palette-primary.nt-palette-hover:focus:before, .nt-palette-primary.nt-palette-hover:focus + .nt-palette-adjacent-hover, .nt-palette-primary.nt-palette-hover:focus + .nt-palette-adjacent-hover:before, .nt-palette-primary.nt-palette-hover.active,
  .nt-palette-secondary .nt-palette-primary.nt-palette-hover:hover,
  .nt-palette-secondary .nt-palette-primary.nt-palette-hover:hover:before,
  .nt-palette-secondary .nt-palette-primary.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  .nt-palette-secondary .nt-palette-primary.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  .nt-palette-secondary .nt-palette-primary.nt-palette-hover:hover .nt-palette-inner-hover,
  .nt-palette-secondary .nt-palette-primary.nt-palette-hover:hover .nt-palette-inner-hover:before,
  .nt-palette-secondary .nt-palette-primary.nt-palette-hover:focus,
  .nt-palette-secondary .nt-palette-primary.nt-palette-hover:focus:before,
  .nt-palette-secondary .nt-palette-primary.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  .nt-palette-secondary .nt-palette-primary.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  .nt-palette-secondary .nt-palette-primary.nt-palette-hover.active,
  .nt-palette-neutral .nt-palette-primary.nt-palette-hover:hover,
  .nt-palette-neutral .nt-palette-primary.nt-palette-hover:hover:before,
  .nt-palette-neutral .nt-palette-primary.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  .nt-palette-neutral .nt-palette-primary.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  .nt-palette-neutral .nt-palette-primary.nt-palette-hover:hover .nt-palette-inner-hover,
  .nt-palette-neutral .nt-palette-primary.nt-palette-hover:hover .nt-palette-inner-hover:before,
  .nt-palette-neutral .nt-palette-primary.nt-palette-hover:focus,
  .nt-palette-neutral .nt-palette-primary.nt-palette-hover:focus:before,
  .nt-palette-neutral .nt-palette-primary.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  .nt-palette-neutral .nt-palette-primary.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  .nt-palette-neutral .nt-palette-primary.nt-palette-hover.active,
  a.nt-palette-primary.nt-palette-hover:hover,
  a.nt-palette-primary.nt-palette-hover:hover:before,
  a.nt-palette-primary.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  a.nt-palette-primary.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  a.nt-palette-primary.nt-palette-hover:hover .nt-palette-inner-hover,
  a.nt-palette-primary.nt-palette-hover:hover .nt-palette-inner-hover:before,
  a.nt-palette-primary.nt-palette-hover:focus,
  a.nt-palette-primary.nt-palette-hover:focus:before,
  a.nt-palette-primary.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  a.nt-palette-primary.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  a.nt-palette-primary.nt-palette-hover.active,
  .nt-palette-active-primary.active.nt-palette-hover:hover,
  .nt-palette-active-primary.active.nt-palette-hover:hover:before,
  .nt-palette-active-primary.active.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  .nt-palette-active-primary.active.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  .nt-palette-active-primary.active.nt-palette-hover:hover .nt-palette-inner-hover,
  .nt-palette-active-primary.active.nt-palette-hover:hover .nt-palette-inner-hover:before,
  .nt-palette-active-primary.active.nt-palette-hover:focus,
  .nt-palette-active-primary.active.nt-palette-hover:focus:before,
  .nt-palette-active-primary.active.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  .nt-palette-active-primary.active.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  .nt-palette-active-primary.active.nt-palette-hover.active,
  a.nt-palette-active-primary.active.nt-palette-hover:hover,
  a.nt-palette-active-primary.active.nt-palette-hover:hover:before,
  a.nt-palette-active-primary.active.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  a.nt-palette-active-primary.active.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  a.nt-palette-active-primary.active.nt-palette-hover:hover .nt-palette-inner-hover,
  a.nt-palette-active-primary.active.nt-palette-hover:hover .nt-palette-inner-hover:before,
  a.nt-palette-active-primary.active.nt-palette-hover:focus,
  a.nt-palette-active-primary.active.nt-palette-hover:focus:before,
  a.nt-palette-active-primary.active.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  a.nt-palette-active-primary.active.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  a.nt-palette-active-primary.active.nt-palette-hover.active {
    background-color: #BCC41F;
    color: #2c2c2c; }
  .nt-palette-primary.nt-palette-hover.nt-animated-selectorbg:hover:before, .nt-palette-primary.nt-palette-hover.nt-animated-selectorbg:hover:after,
  .nt-palette-secondary .nt-palette-primary.nt-palette-hover.nt-animated-selectorbg:hover:before,
  .nt-palette-secondary .nt-palette-primary.nt-palette-hover.nt-animated-selectorbg:hover:after,
  .nt-palette-neutral .nt-palette-primary.nt-palette-hover.nt-animated-selectorbg:hover:before,
  .nt-palette-neutral .nt-palette-primary.nt-palette-hover.nt-animated-selectorbg:hover:after,
  a.nt-palette-primary.nt-palette-hover.nt-animated-selectorbg:hover:before,
  a.nt-palette-primary.nt-palette-hover.nt-animated-selectorbg:hover:after,
  .nt-palette-active-primary.active.nt-palette-hover.nt-animated-selectorbg:hover:before,
  .nt-palette-active-primary.active.nt-palette-hover.nt-animated-selectorbg:hover:after,
  a.nt-palette-active-primary.active.nt-palette-hover.nt-animated-selectorbg:hover:before,
  a.nt-palette-active-primary.active.nt-palette-hover.nt-animated-selectorbg:hover:after {
    background-color: #BCC41F !important; }

.nt-palette-secondary,
.nt-palette-primary .nt-palette-secondary,
.nt-palette-neutral .nt-palette-secondary,
a.nt-palette-secondary,
.nt-palette-active-secondary.active,
a.nt-palette-active-secondary.active,
.nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0,
.nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0 {
  color: #fff;
  background-color: #0F0032; }
  .nt-palette-secondary:before, .nt-palette-secondary:after,
  .nt-palette-primary .nt-palette-secondary:before,
  .nt-palette-primary .nt-palette-secondary:after,
  .nt-palette-neutral .nt-palette-secondary:before,
  .nt-palette-neutral .nt-palette-secondary:after,
  a.nt-palette-secondary:before,
  a.nt-palette-secondary:after,
  .nt-palette-active-secondary.active:before,
  .nt-palette-active-secondary.active:after,
  a.nt-palette-active-secondary.active:before,
  a.nt-palette-active-secondary.active:after,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0:before,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0:after,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0:before,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0:after {
    color: #fff;
    background-color: #0F0032; }
  .nt-palette-secondary .nt-tabs li a:hover, .nt-palette-secondary .nt-tabs li a:focus, .nt-palette-secondary .nt-tabs li a.active,
  .nt-palette-secondary .nt-button:hover,
  .nt-palette-secondary .nt-button:focus,
  .nt-palette-secondary .nt-button.active,
  .nt-palette-primary .nt-palette-secondary .nt-tabs li a:hover,
  .nt-palette-primary .nt-palette-secondary .nt-tabs li a:focus,
  .nt-palette-primary .nt-palette-secondary .nt-tabs li a.active,
  .nt-palette-primary .nt-palette-secondary .nt-button:hover,
  .nt-palette-primary .nt-palette-secondary .nt-button:focus,
  .nt-palette-primary .nt-palette-secondary .nt-button.active,
  .nt-palette-neutral .nt-palette-secondary .nt-tabs li a:hover,
  .nt-palette-neutral .nt-palette-secondary .nt-tabs li a:focus,
  .nt-palette-neutral .nt-palette-secondary .nt-tabs li a.active,
  .nt-palette-neutral .nt-palette-secondary .nt-button:hover,
  .nt-palette-neutral .nt-palette-secondary .nt-button:focus,
  .nt-palette-neutral .nt-palette-secondary .nt-button.active,
  a.nt-palette-secondary .nt-tabs li a:hover,
  a.nt-palette-secondary .nt-tabs li a:focus,
  a.nt-palette-secondary .nt-tabs li a.active,
  a.nt-palette-secondary .nt-button:hover,
  a.nt-palette-secondary .nt-button:focus,
  a.nt-palette-secondary .nt-button.active,
  .nt-palette-active-secondary.active .nt-tabs li a:hover,
  .nt-palette-active-secondary.active .nt-tabs li a:focus,
  .nt-palette-active-secondary.active .nt-tabs li a.active,
  .nt-palette-active-secondary.active .nt-button:hover,
  .nt-palette-active-secondary.active .nt-button:focus,
  .nt-palette-active-secondary.active .nt-button.active,
  a.nt-palette-active-secondary.active .nt-tabs li a:hover,
  a.nt-palette-active-secondary.active .nt-tabs li a:focus,
  a.nt-palette-active-secondary.active .nt-tabs li a.active,
  a.nt-palette-active-secondary.active .nt-button:hover,
  a.nt-palette-active-secondary.active .nt-button:focus,
  a.nt-palette-active-secondary.active .nt-button.active,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0 .nt-tabs li a:hover,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0 .nt-tabs li a:focus,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0 .nt-tabs li a.active,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0 .nt-button:hover,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0 .nt-button:focus,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0 .nt-button.active,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0 .nt-tabs li a:hover,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0 .nt-tabs li a:focus,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0 .nt-tabs li a.active,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0 .nt-button:hover,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0 .nt-button:focus,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0 .nt-button.active {
    color: #0F0032;
    background-color: #fff;
    border-color: #fff; }
  .nt-palette-secondary .active > .nt-button,
  .nt-palette-primary .nt-palette-secondary .active > .nt-button,
  .nt-palette-neutral .nt-palette-secondary .active > .nt-button,
  a.nt-palette-secondary .active > .nt-button,
  .nt-palette-active-secondary.active .active > .nt-button,
  a.nt-palette-active-secondary.active .active > .nt-button,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0 .active > .nt-button,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0 .active > .nt-button {
    color: #0F0032;
    background-color: #fff; }
  .nt-palette-secondary.nt-link-invert:hover,
  .nt-palette-secondary .nt-link-invert:hover,
  .nt-palette-primary .nt-palette-secondary.nt-link-invert:hover,
  .nt-palette-primary .nt-palette-secondary .nt-link-invert:hover,
  .nt-palette-neutral .nt-palette-secondary.nt-link-invert:hover,
  .nt-palette-neutral .nt-palette-secondary .nt-link-invert:hover,
  a.nt-palette-secondary.nt-link-invert:hover,
  a.nt-palette-secondary .nt-link-invert:hover,
  .nt-palette-active-secondary.active.nt-link-invert:hover,
  .nt-palette-active-secondary.active .nt-link-invert:hover,
  a.nt-palette-active-secondary.active.nt-link-invert:hover,
  a.nt-palette-active-secondary.active .nt-link-invert:hover,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0.nt-link-invert:hover,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0 .nt-link-invert:hover,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0.nt-link-invert:hover,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0 .nt-link-invert:hover {
    background-color: #fff;
    color: #0F0032; }
  .nt-palette-secondary.nt-palette-inverted,
  .nt-palette-primary .nt-palette-secondary.nt-palette-inverted,
  .nt-palette-neutral .nt-palette-secondary.nt-palette-inverted,
  a.nt-palette-secondary.nt-palette-inverted,
  .nt-palette-active-secondary.active.nt-palette-inverted,
  a.nt-palette-active-secondary.active.nt-palette-inverted,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0.nt-palette-inverted,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0.nt-palette-inverted {
    color: #0F0032;
    background-color: #fff; }
    .nt-palette-secondary.nt-palette-inverted:before, .nt-palette-secondary.nt-palette-inverted:after,
    .nt-palette-primary .nt-palette-secondary.nt-palette-inverted:before,
    .nt-palette-primary .nt-palette-secondary.nt-palette-inverted:after,
    .nt-palette-neutral .nt-palette-secondary.nt-palette-inverted:before,
    .nt-palette-neutral .nt-palette-secondary.nt-palette-inverted:after,
    a.nt-palette-secondary.nt-palette-inverted:before,
    a.nt-palette-secondary.nt-palette-inverted:after,
    .nt-palette-active-secondary.active.nt-palette-inverted:before,
    .nt-palette-active-secondary.active.nt-palette-inverted:after,
    a.nt-palette-active-secondary.active.nt-palette-inverted:before,
    a.nt-palette-active-secondary.active.nt-palette-inverted:after,
    .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0.nt-palette-inverted:before,
    .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0.nt-palette-inverted:after,
    .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0.nt-palette-inverted:before,
    .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0.nt-palette-inverted:after {
      color: #0F0032;
      background-color: #fff; }
  .nt-palette-secondary.nt-palette-hover:hover, .nt-palette-secondary.nt-palette-hover:hover:before, .nt-palette-secondary.nt-palette-hover:hover + .nt-palette-adjacent-hover, .nt-palette-secondary.nt-palette-hover:hover + .nt-palette-adjacent-hover:before, .nt-palette-secondary.nt-palette-hover:hover .nt-palette-inner-hover, .nt-palette-secondary.nt-palette-hover:hover .nt-palette-inner-hover:before, .nt-palette-secondary.nt-palette-hover:focus, .nt-palette-secondary.nt-palette-hover:focus:before, .nt-palette-secondary.nt-palette-hover:focus + .nt-palette-adjacent-hover, .nt-palette-secondary.nt-palette-hover:focus + .nt-palette-adjacent-hover:before, .nt-palette-secondary.nt-palette-hover.active,
  .nt-palette-primary .nt-palette-secondary.nt-palette-hover:hover,
  .nt-palette-primary .nt-palette-secondary.nt-palette-hover:hover:before,
  .nt-palette-primary .nt-palette-secondary.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  .nt-palette-primary .nt-palette-secondary.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  .nt-palette-primary .nt-palette-secondary.nt-palette-hover:hover .nt-palette-inner-hover,
  .nt-palette-primary .nt-palette-secondary.nt-palette-hover:hover .nt-palette-inner-hover:before,
  .nt-palette-primary .nt-palette-secondary.nt-palette-hover:focus,
  .nt-palette-primary .nt-palette-secondary.nt-palette-hover:focus:before,
  .nt-palette-primary .nt-palette-secondary.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  .nt-palette-primary .nt-palette-secondary.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  .nt-palette-primary .nt-palette-secondary.nt-palette-hover.active,
  .nt-palette-neutral .nt-palette-secondary.nt-palette-hover:hover,
  .nt-palette-neutral .nt-palette-secondary.nt-palette-hover:hover:before,
  .nt-palette-neutral .nt-palette-secondary.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  .nt-palette-neutral .nt-palette-secondary.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  .nt-palette-neutral .nt-palette-secondary.nt-palette-hover:hover .nt-palette-inner-hover,
  .nt-palette-neutral .nt-palette-secondary.nt-palette-hover:hover .nt-palette-inner-hover:before,
  .nt-palette-neutral .nt-palette-secondary.nt-palette-hover:focus,
  .nt-palette-neutral .nt-palette-secondary.nt-palette-hover:focus:before,
  .nt-palette-neutral .nt-palette-secondary.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  .nt-palette-neutral .nt-palette-secondary.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  .nt-palette-neutral .nt-palette-secondary.nt-palette-hover.active,
  a.nt-palette-secondary.nt-palette-hover:hover,
  a.nt-palette-secondary.nt-palette-hover:hover:before,
  a.nt-palette-secondary.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  a.nt-palette-secondary.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  a.nt-palette-secondary.nt-palette-hover:hover .nt-palette-inner-hover,
  a.nt-palette-secondary.nt-palette-hover:hover .nt-palette-inner-hover:before,
  a.nt-palette-secondary.nt-palette-hover:focus,
  a.nt-palette-secondary.nt-palette-hover:focus:before,
  a.nt-palette-secondary.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  a.nt-palette-secondary.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  a.nt-palette-secondary.nt-palette-hover.active,
  .nt-palette-active-secondary.active.nt-palette-hover:hover,
  .nt-palette-active-secondary.active.nt-palette-hover:hover:before,
  .nt-palette-active-secondary.active.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  .nt-palette-active-secondary.active.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  .nt-palette-active-secondary.active.nt-palette-hover:hover .nt-palette-inner-hover,
  .nt-palette-active-secondary.active.nt-palette-hover:hover .nt-palette-inner-hover:before,
  .nt-palette-active-secondary.active.nt-palette-hover:focus,
  .nt-palette-active-secondary.active.nt-palette-hover:focus:before,
  .nt-palette-active-secondary.active.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  .nt-palette-active-secondary.active.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  .nt-palette-active-secondary.active.nt-palette-hover.active,
  a.nt-palette-active-secondary.active.nt-palette-hover:hover,
  a.nt-palette-active-secondary.active.nt-palette-hover:hover:before,
  a.nt-palette-active-secondary.active.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  a.nt-palette-active-secondary.active.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  a.nt-palette-active-secondary.active.nt-palette-hover:hover .nt-palette-inner-hover,
  a.nt-palette-active-secondary.active.nt-palette-hover:hover .nt-palette-inner-hover:before,
  a.nt-palette-active-secondary.active.nt-palette-hover:focus,
  a.nt-palette-active-secondary.active.nt-palette-hover:focus:before,
  a.nt-palette-active-secondary.active.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  a.nt-palette-active-secondary.active.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  a.nt-palette-active-secondary.active.nt-palette-hover.active,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0.nt-palette-hover:hover,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0.nt-palette-hover:hover:before,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0.nt-palette-hover:hover .nt-palette-inner-hover,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0.nt-palette-hover:hover .nt-palette-inner-hover:before,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0.nt-palette-hover:focus,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0.nt-palette-hover:focus:before,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0.nt-palette-hover.active,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0.nt-palette-hover:hover,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0.nt-palette-hover:hover:before,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0.nt-palette-hover:hover .nt-palette-inner-hover,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0.nt-palette-hover:hover .nt-palette-inner-hover:before,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0.nt-palette-hover:focus,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0.nt-palette-hover:focus:before,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0.nt-palette-hover.active {
    background-color: #0B032A;
    color: #fff; }
  .nt-palette-secondary.nt-palette-hover.nt-animated-selectorbg:hover:before, .nt-palette-secondary.nt-palette-hover.nt-animated-selectorbg:hover:after,
  .nt-palette-primary .nt-palette-secondary.nt-palette-hover.nt-animated-selectorbg:hover:before,
  .nt-palette-primary .nt-palette-secondary.nt-palette-hover.nt-animated-selectorbg:hover:after,
  .nt-palette-neutral .nt-palette-secondary.nt-palette-hover.nt-animated-selectorbg:hover:before,
  .nt-palette-neutral .nt-palette-secondary.nt-palette-hover.nt-animated-selectorbg:hover:after,
  a.nt-palette-secondary.nt-palette-hover.nt-animated-selectorbg:hover:before,
  a.nt-palette-secondary.nt-palette-hover.nt-animated-selectorbg:hover:after,
  .nt-palette-active-secondary.active.nt-palette-hover.nt-animated-selectorbg:hover:before,
  .nt-palette-active-secondary.active.nt-palette-hover.nt-animated-selectorbg:hover:after,
  a.nt-palette-active-secondary.active.nt-palette-hover.nt-animated-selectorbg:hover:before,
  a.nt-palette-active-secondary.active.nt-palette-hover.nt-animated-selectorbg:hover:after,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0.nt-palette-hover.nt-animated-selectorbg:hover:before,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0.nt-palette-hover.nt-animated-selectorbg:hover:after,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0.nt-palette-hover.nt-animated-selectorbg:hover:before,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0.nt-palette-hover.nt-animated-selectorbg:hover:after {
    background-color: #0B032A !important; }

.nt-palette-accent,
a.nt-palette-accent,
.nt-palette-active-accent.active,
a.nt-palette-active-accent.active,
.nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1,
.nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1 {
  color: #fff;
  background-color: #6B3670; }
  .nt-palette-accent:before, .nt-palette-accent:after,
  a.nt-palette-accent:before,
  a.nt-palette-accent:after,
  .nt-palette-active-accent.active:before,
  .nt-palette-active-accent.active:after,
  a.nt-palette-active-accent.active:before,
  a.nt-palette-active-accent.active:after,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1:before,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1:after,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1:before,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1:after {
    color: #fff;
    background-color: #6B3670; }
  .nt-palette-accent .nt-tabs li a:hover, .nt-palette-accent .nt-tabs li a:focus, .nt-palette-accent .nt-tabs li a.active,
  .nt-palette-accent .nt-button:hover,
  .nt-palette-accent .nt-button:focus,
  .nt-palette-accent .nt-button.active,
  a.nt-palette-accent .nt-tabs li a:hover,
  a.nt-palette-accent .nt-tabs li a:focus,
  a.nt-palette-accent .nt-tabs li a.active,
  a.nt-palette-accent .nt-button:hover,
  a.nt-palette-accent .nt-button:focus,
  a.nt-palette-accent .nt-button.active,
  .nt-palette-active-accent.active .nt-tabs li a:hover,
  .nt-palette-active-accent.active .nt-tabs li a:focus,
  .nt-palette-active-accent.active .nt-tabs li a.active,
  .nt-palette-active-accent.active .nt-button:hover,
  .nt-palette-active-accent.active .nt-button:focus,
  .nt-palette-active-accent.active .nt-button.active,
  a.nt-palette-active-accent.active .nt-tabs li a:hover,
  a.nt-palette-active-accent.active .nt-tabs li a:focus,
  a.nt-palette-active-accent.active .nt-tabs li a.active,
  a.nt-palette-active-accent.active .nt-button:hover,
  a.nt-palette-active-accent.active .nt-button:focus,
  a.nt-palette-active-accent.active .nt-button.active,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1 .nt-tabs li a:hover,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1 .nt-tabs li a:focus,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1 .nt-tabs li a.active,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1 .nt-button:hover,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1 .nt-button:focus,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1 .nt-button.active,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1 .nt-tabs li a:hover,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1 .nt-tabs li a:focus,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1 .nt-tabs li a.active,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1 .nt-button:hover,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1 .nt-button:focus,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1 .nt-button.active {
    color: #6B3670;
    background-color: #fff;
    border-color: #fff; }
  .nt-palette-accent .active > .nt-button,
  a.nt-palette-accent .active > .nt-button,
  .nt-palette-active-accent.active .active > .nt-button,
  a.nt-palette-active-accent.active .active > .nt-button,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1 .active > .nt-button,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1 .active > .nt-button {
    color: #6B3670;
    background-color: #fff; }
  .nt-palette-accent.nt-link-invert:hover,
  .nt-palette-accent .nt-link-invert:hover,
  a.nt-palette-accent.nt-link-invert:hover,
  a.nt-palette-accent .nt-link-invert:hover,
  .nt-palette-active-accent.active.nt-link-invert:hover,
  .nt-palette-active-accent.active .nt-link-invert:hover,
  a.nt-palette-active-accent.active.nt-link-invert:hover,
  a.nt-palette-active-accent.active .nt-link-invert:hover,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1.nt-link-invert:hover,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1 .nt-link-invert:hover,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1.nt-link-invert:hover,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1 .nt-link-invert:hover {
    background-color: #fff;
    color: #6B3670; }
  .nt-palette-accent.nt-palette-inverted,
  a.nt-palette-accent.nt-palette-inverted,
  .nt-palette-active-accent.active.nt-palette-inverted,
  a.nt-palette-active-accent.active.nt-palette-inverted,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1.nt-palette-inverted,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1.nt-palette-inverted {
    color: #6B3670;
    background-color: #fff; }
    .nt-palette-accent.nt-palette-inverted:before, .nt-palette-accent.nt-palette-inverted:after,
    a.nt-palette-accent.nt-palette-inverted:before,
    a.nt-palette-accent.nt-palette-inverted:after,
    .nt-palette-active-accent.active.nt-palette-inverted:before,
    .nt-palette-active-accent.active.nt-palette-inverted:after,
    a.nt-palette-active-accent.active.nt-palette-inverted:before,
    a.nt-palette-active-accent.active.nt-palette-inverted:after,
    .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1.nt-palette-inverted:before,
    .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1.nt-palette-inverted:after,
    .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1.nt-palette-inverted:before,
    .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1.nt-palette-inverted:after {
      color: #6B3670;
      background-color: #fff; }
  .nt-palette-accent.nt-palette-hover:hover, .nt-palette-accent.nt-palette-hover:hover:before, .nt-palette-accent.nt-palette-hover:hover + .nt-palette-adjacent-hover, .nt-palette-accent.nt-palette-hover:hover + .nt-palette-adjacent-hover:before, .nt-palette-accent.nt-palette-hover:hover .nt-palette-inner-hover, .nt-palette-accent.nt-palette-hover:hover .nt-palette-inner-hover:before, .nt-palette-accent.nt-palette-hover:focus, .nt-palette-accent.nt-palette-hover:focus:before, .nt-palette-accent.nt-palette-hover:focus + .nt-palette-adjacent-hover, .nt-palette-accent.nt-palette-hover:focus + .nt-palette-adjacent-hover:before, .nt-palette-accent.nt-palette-hover.active,
  a.nt-palette-accent.nt-palette-hover:hover,
  a.nt-palette-accent.nt-palette-hover:hover:before,
  a.nt-palette-accent.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  a.nt-palette-accent.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  a.nt-palette-accent.nt-palette-hover:hover .nt-palette-inner-hover,
  a.nt-palette-accent.nt-palette-hover:hover .nt-palette-inner-hover:before,
  a.nt-palette-accent.nt-palette-hover:focus,
  a.nt-palette-accent.nt-palette-hover:focus:before,
  a.nt-palette-accent.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  a.nt-palette-accent.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  a.nt-palette-accent.nt-palette-hover.active,
  .nt-palette-active-accent.active.nt-palette-hover:hover,
  .nt-palette-active-accent.active.nt-palette-hover:hover:before,
  .nt-palette-active-accent.active.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  .nt-palette-active-accent.active.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  .nt-palette-active-accent.active.nt-palette-hover:hover .nt-palette-inner-hover,
  .nt-palette-active-accent.active.nt-palette-hover:hover .nt-palette-inner-hover:before,
  .nt-palette-active-accent.active.nt-palette-hover:focus,
  .nt-palette-active-accent.active.nt-palette-hover:focus:before,
  .nt-palette-active-accent.active.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  .nt-palette-active-accent.active.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  .nt-palette-active-accent.active.nt-palette-hover.active,
  a.nt-palette-active-accent.active.nt-palette-hover:hover,
  a.nt-palette-active-accent.active.nt-palette-hover:hover:before,
  a.nt-palette-active-accent.active.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  a.nt-palette-active-accent.active.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  a.nt-palette-active-accent.active.nt-palette-hover:hover .nt-palette-inner-hover,
  a.nt-palette-active-accent.active.nt-palette-hover:hover .nt-palette-inner-hover:before,
  a.nt-palette-active-accent.active.nt-palette-hover:focus,
  a.nt-palette-active-accent.active.nt-palette-hover:focus:before,
  a.nt-palette-active-accent.active.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  a.nt-palette-active-accent.active.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  a.nt-palette-active-accent.active.nt-palette-hover.active,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1.nt-palette-hover:hover,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1.nt-palette-hover:hover:before,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1.nt-palette-hover:hover .nt-palette-inner-hover,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1.nt-palette-hover:hover .nt-palette-inner-hover:before,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1.nt-palette-hover:focus,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1.nt-palette-hover:focus:before,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1.nt-palette-hover.active,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1.nt-palette-hover:hover,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1.nt-palette-hover:hover:before,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1.nt-palette-hover:hover .nt-palette-inner-hover,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1.nt-palette-hover:hover .nt-palette-inner-hover:before,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1.nt-palette-hover:focus,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1.nt-palette-hover:focus:before,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1.nt-palette-hover.active {
    background-color: #4D1E51;
    color: #fff; }
  .nt-palette-accent.nt-palette-hover.nt-animated-selectorbg:hover:before, .nt-palette-accent.nt-palette-hover.nt-animated-selectorbg:hover:after,
  a.nt-palette-accent.nt-palette-hover.nt-animated-selectorbg:hover:before,
  a.nt-palette-accent.nt-palette-hover.nt-animated-selectorbg:hover:after,
  .nt-palette-active-accent.active.nt-palette-hover.nt-animated-selectorbg:hover:before,
  .nt-palette-active-accent.active.nt-palette-hover.nt-animated-selectorbg:hover:after,
  a.nt-palette-active-accent.active.nt-palette-hover.nt-animated-selectorbg:hover:before,
  a.nt-palette-active-accent.active.nt-palette-hover.nt-animated-selectorbg:hover:after,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1.nt-palette-hover.nt-animated-selectorbg:hover:before,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1.nt-palette-hover.nt-animated-selectorbg:hover:after,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1.nt-palette-hover.nt-animated-selectorbg:hover:before,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1.nt-palette-hover.nt-animated-selectorbg:hover:after {
    background-color: #4D1E51 !important; }

ol.nt-palette-ol li:before,
.nt-palette-ol ol li:before {
  background-color: #0F0032;
  color: #fff; }

.nt-main-wrapper .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating,
.nt-main-wrapper .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating {
  color: #2c2c2c;
  background-color: #D2DB30; }
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating:before, .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating:after,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating:before,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating:after {
    color: #2c2c2c;
    background-color: #D2DB30; }
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating .nt-tabs li a:hover, .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating .nt-tabs li a:focus, .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating .nt-tabs li a.active,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating .nt-button:hover,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating .nt-button:focus,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating .nt-button.active,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating .nt-tabs li a:hover,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating .nt-tabs li a:focus,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating .nt-tabs li a.active,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating .nt-button:hover,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating .nt-button:focus,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating .nt-button.active {
    color: #D2DB30;
    background-color: #2c2c2c;
    border-color: #2c2c2c; }
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating .active > .nt-button,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating .active > .nt-button {
    color: #D2DB30;
    background-color: #2c2c2c; }
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating.nt-link-invert:hover,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating .nt-link-invert:hover,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating.nt-link-invert:hover,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating .nt-link-invert:hover {
    background-color: #2c2c2c;
    color: #D2DB30; }
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating.nt-palette-inverted,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating.nt-palette-inverted {
    color: #D2DB30;
    background-color: #2c2c2c; }
    .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating.nt-palette-inverted:before, .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating.nt-palette-inverted:after,
    .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating.nt-palette-inverted:before,
    .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating.nt-palette-inverted:after {
      color: #D2DB30;
      background-color: #2c2c2c; }
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating.nt-palette-hover:hover, .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating.nt-palette-hover:hover:before, .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating.nt-palette-hover:hover + .nt-palette-adjacent-hover, .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating.nt-palette-hover:hover + .nt-palette-adjacent-hover:before, .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating.nt-palette-hover:hover .nt-palette-inner-hover, .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating.nt-palette-hover:hover .nt-palette-inner-hover:before, .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating.nt-palette-hover:focus, .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating.nt-palette-hover:focus:before, .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating.nt-palette-hover:focus + .nt-palette-adjacent-hover, .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating.nt-palette-hover:focus + .nt-palette-adjacent-hover:before, .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating.nt-palette-hover.active,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating.nt-palette-hover:hover,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating.nt-palette-hover:hover:before,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating.nt-palette-hover:hover .nt-palette-inner-hover,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating.nt-palette-hover:hover .nt-palette-inner-hover:before,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating.nt-palette-hover:focus,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating.nt-palette-hover:focus:before,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating.nt-palette-hover.active {
    background-color: #BCC41F;
    color: #2c2c2c; }
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating.nt-palette-hover.nt-animated-selectorbg:hover:before, .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating.nt-palette-hover.nt-animated-selectorbg:hover:after,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating.nt-palette-hover.nt-animated-selectorbg:hover:before,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating.nt-palette-hover.nt-animated-selectorbg:hover:after {
    background-color: #BCC41F !important; }
.nt-main-wrapper .nt-palette-has-alternating:nth-child(even).nt-palette-alternating,
.nt-main-wrapper .nt-palette-has-alternating:nth-child(even) .nt-palette-alternating {
  color: #fff;
  background-color: #0F0032; }
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(even).nt-palette-alternating:before, .nt-main-wrapper .nt-palette-has-alternating:nth-child(even).nt-palette-alternating:after,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(even) .nt-palette-alternating:before,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(even) .nt-palette-alternating:after {
    color: #fff;
    background-color: #0F0032; }
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(even).nt-palette-alternating .nt-tabs li a:hover, .nt-main-wrapper .nt-palette-has-alternating:nth-child(even).nt-palette-alternating .nt-tabs li a:focus, .nt-main-wrapper .nt-palette-has-alternating:nth-child(even).nt-palette-alternating .nt-tabs li a.active,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(even).nt-palette-alternating .nt-button:hover,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(even).nt-palette-alternating .nt-button:focus,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(even).nt-palette-alternating .nt-button.active,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(even) .nt-palette-alternating .nt-tabs li a:hover,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(even) .nt-palette-alternating .nt-tabs li a:focus,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(even) .nt-palette-alternating .nt-tabs li a.active,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(even) .nt-palette-alternating .nt-button:hover,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(even) .nt-palette-alternating .nt-button:focus,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(even) .nt-palette-alternating .nt-button.active {
    color: #0F0032;
    background-color: #fff;
    border-color: #fff; }
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(even).nt-palette-alternating .active > .nt-button,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(even) .nt-palette-alternating .active > .nt-button {
    color: #0F0032;
    background-color: #fff; }
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(even).nt-palette-alternating.nt-link-invert:hover,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(even).nt-palette-alternating .nt-link-invert:hover,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(even) .nt-palette-alternating.nt-link-invert:hover,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(even) .nt-palette-alternating .nt-link-invert:hover {
    background-color: #fff;
    color: #0F0032; }
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(even).nt-palette-alternating.nt-palette-inverted,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(even) .nt-palette-alternating.nt-palette-inverted {
    color: #0F0032;
    background-color: #fff; }
    .nt-main-wrapper .nt-palette-has-alternating:nth-child(even).nt-palette-alternating.nt-palette-inverted:before, .nt-main-wrapper .nt-palette-has-alternating:nth-child(even).nt-palette-alternating.nt-palette-inverted:after,
    .nt-main-wrapper .nt-palette-has-alternating:nth-child(even) .nt-palette-alternating.nt-palette-inverted:before,
    .nt-main-wrapper .nt-palette-has-alternating:nth-child(even) .nt-palette-alternating.nt-palette-inverted:after {
      color: #0F0032;
      background-color: #fff; }
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(even).nt-palette-alternating.nt-palette-hover:hover, .nt-main-wrapper .nt-palette-has-alternating:nth-child(even).nt-palette-alternating.nt-palette-hover:hover:before, .nt-main-wrapper .nt-palette-has-alternating:nth-child(even).nt-palette-alternating.nt-palette-hover:hover + .nt-palette-adjacent-hover, .nt-main-wrapper .nt-palette-has-alternating:nth-child(even).nt-palette-alternating.nt-palette-hover:hover + .nt-palette-adjacent-hover:before, .nt-main-wrapper .nt-palette-has-alternating:nth-child(even).nt-palette-alternating.nt-palette-hover:hover .nt-palette-inner-hover, .nt-main-wrapper .nt-palette-has-alternating:nth-child(even).nt-palette-alternating.nt-palette-hover:hover .nt-palette-inner-hover:before, .nt-main-wrapper .nt-palette-has-alternating:nth-child(even).nt-palette-alternating.nt-palette-hover:focus, .nt-main-wrapper .nt-palette-has-alternating:nth-child(even).nt-palette-alternating.nt-palette-hover:focus:before, .nt-main-wrapper .nt-palette-has-alternating:nth-child(even).nt-palette-alternating.nt-palette-hover:focus + .nt-palette-adjacent-hover, .nt-main-wrapper .nt-palette-has-alternating:nth-child(even).nt-palette-alternating.nt-palette-hover:focus + .nt-palette-adjacent-hover:before, .nt-main-wrapper .nt-palette-has-alternating:nth-child(even).nt-palette-alternating.nt-palette-hover.active,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(even) .nt-palette-alternating.nt-palette-hover:hover,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(even) .nt-palette-alternating.nt-palette-hover:hover:before,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(even) .nt-palette-alternating.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(even) .nt-palette-alternating.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(even) .nt-palette-alternating.nt-palette-hover:hover .nt-palette-inner-hover,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(even) .nt-palette-alternating.nt-palette-hover:hover .nt-palette-inner-hover:before,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(even) .nt-palette-alternating.nt-palette-hover:focus,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(even) .nt-palette-alternating.nt-palette-hover:focus:before,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(even) .nt-palette-alternating.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(even) .nt-palette-alternating.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(even) .nt-palette-alternating.nt-palette-hover.active {
    background-color: #0B032A;
    color: #fff; }
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(even).nt-palette-alternating.nt-palette-hover.nt-animated-selectorbg:hover:before, .nt-main-wrapper .nt-palette-has-alternating:nth-child(even).nt-palette-alternating.nt-palette-hover.nt-animated-selectorbg:hover:after,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(even) .nt-palette-alternating.nt-palette-hover.nt-animated-selectorbg:hover:before,
  .nt-main-wrapper .nt-palette-has-alternating:nth-child(even) .nt-palette-alternating.nt-palette-hover.nt-animated-selectorbg:hover:after {
    background-color: #0B032A !important; }

.nt-set-palette-sub .nt-palette-primary,
.nt-set-palette-sub .nt-palette-secondary .nt-palette-primary,
.nt-set-palette-sub .nt-palette-neutral .nt-palette-primary,
.nt-set-palette-sub a.nt-palette-primary,
.nt-set-palette-sub .nt-palette-active-primary.active,
.nt-set-palette-sub a.nt-palette-active-primary.active,
.nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating,
.nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating {
  color: #2c2c2c;
  background-color: #E7E7EA; }
  .nt-set-palette-sub .nt-palette-primary:before, .nt-set-palette-sub .nt-palette-primary:after,
  .nt-set-palette-sub .nt-palette-secondary .nt-palette-primary:before,
  .nt-set-palette-sub .nt-palette-secondary .nt-palette-primary:after,
  .nt-set-palette-sub .nt-palette-neutral .nt-palette-primary:before,
  .nt-set-palette-sub .nt-palette-neutral .nt-palette-primary:after,
  .nt-set-palette-sub a.nt-palette-primary:before,
  .nt-set-palette-sub a.nt-palette-primary:after,
  .nt-set-palette-sub .nt-palette-active-primary.active:before,
  .nt-set-palette-sub .nt-palette-active-primary.active:after,
  .nt-set-palette-sub a.nt-palette-active-primary.active:before,
  .nt-set-palette-sub a.nt-palette-active-primary.active:after,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating:before,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating:after,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating:before,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating:after {
    color: #2c2c2c;
    background-color: #E7E7EA; }
  .nt-set-palette-sub .nt-palette-primary .nt-tabs li a:hover, .nt-set-palette-sub .nt-palette-primary .nt-tabs li a:focus, .nt-set-palette-sub .nt-palette-primary .nt-tabs li a.active,
  .nt-set-palette-sub .nt-palette-primary .nt-button:hover,
  .nt-set-palette-sub .nt-palette-primary .nt-button:focus,
  .nt-set-palette-sub .nt-palette-primary .nt-button.active,
  .nt-set-palette-sub .nt-palette-secondary .nt-palette-primary .nt-tabs li a:hover,
  .nt-set-palette-sub .nt-palette-secondary .nt-palette-primary .nt-tabs li a:focus,
  .nt-set-palette-sub .nt-palette-secondary .nt-palette-primary .nt-tabs li a.active,
  .nt-set-palette-sub .nt-palette-secondary .nt-palette-primary .nt-button:hover,
  .nt-set-palette-sub .nt-palette-secondary .nt-palette-primary .nt-button:focus,
  .nt-set-palette-sub .nt-palette-secondary .nt-palette-primary .nt-button.active,
  .nt-set-palette-sub .nt-palette-neutral .nt-palette-primary .nt-tabs li a:hover,
  .nt-set-palette-sub .nt-palette-neutral .nt-palette-primary .nt-tabs li a:focus,
  .nt-set-palette-sub .nt-palette-neutral .nt-palette-primary .nt-tabs li a.active,
  .nt-set-palette-sub .nt-palette-neutral .nt-palette-primary .nt-button:hover,
  .nt-set-palette-sub .nt-palette-neutral .nt-palette-primary .nt-button:focus,
  .nt-set-palette-sub .nt-palette-neutral .nt-palette-primary .nt-button.active,
  .nt-set-palette-sub a.nt-palette-primary .nt-tabs li a:hover,
  .nt-set-palette-sub a.nt-palette-primary .nt-tabs li a:focus,
  .nt-set-palette-sub a.nt-palette-primary .nt-tabs li a.active,
  .nt-set-palette-sub a.nt-palette-primary .nt-button:hover,
  .nt-set-palette-sub a.nt-palette-primary .nt-button:focus,
  .nt-set-palette-sub a.nt-palette-primary .nt-button.active,
  .nt-set-palette-sub .nt-palette-active-primary.active .nt-tabs li a:hover,
  .nt-set-palette-sub .nt-palette-active-primary.active .nt-tabs li a:focus,
  .nt-set-palette-sub .nt-palette-active-primary.active .nt-tabs li a.active,
  .nt-set-palette-sub .nt-palette-active-primary.active .nt-button:hover,
  .nt-set-palette-sub .nt-palette-active-primary.active .nt-button:focus,
  .nt-set-palette-sub .nt-palette-active-primary.active .nt-button.active,
  .nt-set-palette-sub a.nt-palette-active-primary.active .nt-tabs li a:hover,
  .nt-set-palette-sub a.nt-palette-active-primary.active .nt-tabs li a:focus,
  .nt-set-palette-sub a.nt-palette-active-primary.active .nt-tabs li a.active,
  .nt-set-palette-sub a.nt-palette-active-primary.active .nt-button:hover,
  .nt-set-palette-sub a.nt-palette-active-primary.active .nt-button:focus,
  .nt-set-palette-sub a.nt-palette-active-primary.active .nt-button.active,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating .nt-tabs li a:hover,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating .nt-tabs li a:focus,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating .nt-tabs li a.active,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating .nt-button:hover,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating .nt-button:focus,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating .nt-button.active,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating .nt-tabs li a:hover,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating .nt-tabs li a:focus,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating .nt-tabs li a.active,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating .nt-button:hover,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating .nt-button:focus,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating .nt-button.active {
    color: #E7E7EA;
    background-color: #2c2c2c;
    border-color: #2c2c2c; }
  .nt-set-palette-sub .nt-palette-primary .active > .nt-button,
  .nt-set-palette-sub .nt-palette-secondary .nt-palette-primary .active > .nt-button,
  .nt-set-palette-sub .nt-palette-neutral .nt-palette-primary .active > .nt-button,
  .nt-set-palette-sub a.nt-palette-primary .active > .nt-button,
  .nt-set-palette-sub .nt-palette-active-primary.active .active > .nt-button,
  .nt-set-palette-sub a.nt-palette-active-primary.active .active > .nt-button,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating .active > .nt-button,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating .active > .nt-button {
    color: #E7E7EA;
    background-color: #2c2c2c; }
  .nt-set-palette-sub .nt-palette-primary.nt-link-invert:hover,
  .nt-set-palette-sub .nt-palette-primary .nt-link-invert:hover,
  .nt-set-palette-sub .nt-palette-secondary .nt-palette-primary.nt-link-invert:hover,
  .nt-set-palette-sub .nt-palette-secondary .nt-palette-primary .nt-link-invert:hover,
  .nt-set-palette-sub .nt-palette-neutral .nt-palette-primary.nt-link-invert:hover,
  .nt-set-palette-sub .nt-palette-neutral .nt-palette-primary .nt-link-invert:hover,
  .nt-set-palette-sub a.nt-palette-primary.nt-link-invert:hover,
  .nt-set-palette-sub a.nt-palette-primary .nt-link-invert:hover,
  .nt-set-palette-sub .nt-palette-active-primary.active.nt-link-invert:hover,
  .nt-set-palette-sub .nt-palette-active-primary.active .nt-link-invert:hover,
  .nt-set-palette-sub a.nt-palette-active-primary.active.nt-link-invert:hover,
  .nt-set-palette-sub a.nt-palette-active-primary.active .nt-link-invert:hover,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating.nt-link-invert:hover,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating .nt-link-invert:hover,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating.nt-link-invert:hover,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating .nt-link-invert:hover {
    background-color: #2c2c2c;
    color: #E7E7EA; }
  .nt-set-palette-sub .nt-palette-primary.nt-palette-inverted,
  .nt-set-palette-sub .nt-palette-secondary .nt-palette-primary.nt-palette-inverted,
  .nt-set-palette-sub .nt-palette-neutral .nt-palette-primary.nt-palette-inverted,
  .nt-set-palette-sub a.nt-palette-primary.nt-palette-inverted,
  .nt-set-palette-sub .nt-palette-active-primary.active.nt-palette-inverted,
  .nt-set-palette-sub a.nt-palette-active-primary.active.nt-palette-inverted,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating.nt-palette-inverted,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating.nt-palette-inverted {
    color: #E7E7EA;
    background-color: #2c2c2c; }
    .nt-set-palette-sub .nt-palette-primary.nt-palette-inverted:before, .nt-set-palette-sub .nt-palette-primary.nt-palette-inverted:after,
    .nt-set-palette-sub .nt-palette-secondary .nt-palette-primary.nt-palette-inverted:before,
    .nt-set-palette-sub .nt-palette-secondary .nt-palette-primary.nt-palette-inverted:after,
    .nt-set-palette-sub .nt-palette-neutral .nt-palette-primary.nt-palette-inverted:before,
    .nt-set-palette-sub .nt-palette-neutral .nt-palette-primary.nt-palette-inverted:after,
    .nt-set-palette-sub a.nt-palette-primary.nt-palette-inverted:before,
    .nt-set-palette-sub a.nt-palette-primary.nt-palette-inverted:after,
    .nt-set-palette-sub .nt-palette-active-primary.active.nt-palette-inverted:before,
    .nt-set-palette-sub .nt-palette-active-primary.active.nt-palette-inverted:after,
    .nt-set-palette-sub a.nt-palette-active-primary.active.nt-palette-inverted:before,
    .nt-set-palette-sub a.nt-palette-active-primary.active.nt-palette-inverted:after,
    .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating.nt-palette-inverted:before,
    .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating.nt-palette-inverted:after,
    .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating.nt-palette-inverted:before,
    .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating.nt-palette-inverted:after {
      color: #E7E7EA;
      background-color: #2c2c2c; }
  .nt-set-palette-sub .nt-palette-primary.nt-palette-hover:hover, .nt-set-palette-sub .nt-palette-primary.nt-palette-hover:hover:before, .nt-set-palette-sub .nt-palette-primary.nt-palette-hover:hover + .nt-palette-adjacent-hover, .nt-set-palette-sub .nt-palette-primary.nt-palette-hover:hover + .nt-palette-adjacent-hover:before, .nt-set-palette-sub .nt-palette-primary.nt-palette-hover:hover .nt-palette-inner-hover, .nt-set-palette-sub .nt-palette-primary.nt-palette-hover:hover .nt-palette-inner-hover:before, .nt-set-palette-sub .nt-palette-primary.nt-palette-hover:focus, .nt-set-palette-sub .nt-palette-primary.nt-palette-hover:focus:before, .nt-set-palette-sub .nt-palette-primary.nt-palette-hover:focus + .nt-palette-adjacent-hover, .nt-set-palette-sub .nt-palette-primary.nt-palette-hover:focus + .nt-palette-adjacent-hover:before, .nt-set-palette-sub .nt-palette-primary.nt-palette-hover.active,
  .nt-set-palette-sub .nt-palette-secondary .nt-palette-primary.nt-palette-hover:hover,
  .nt-set-palette-sub .nt-palette-secondary .nt-palette-primary.nt-palette-hover:hover:before,
  .nt-set-palette-sub .nt-palette-secondary .nt-palette-primary.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  .nt-set-palette-sub .nt-palette-secondary .nt-palette-primary.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  .nt-set-palette-sub .nt-palette-secondary .nt-palette-primary.nt-palette-hover:hover .nt-palette-inner-hover,
  .nt-set-palette-sub .nt-palette-secondary .nt-palette-primary.nt-palette-hover:hover .nt-palette-inner-hover:before,
  .nt-set-palette-sub .nt-palette-secondary .nt-palette-primary.nt-palette-hover:focus,
  .nt-set-palette-sub .nt-palette-secondary .nt-palette-primary.nt-palette-hover:focus:before,
  .nt-set-palette-sub .nt-palette-secondary .nt-palette-primary.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  .nt-set-palette-sub .nt-palette-secondary .nt-palette-primary.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  .nt-set-palette-sub .nt-palette-secondary .nt-palette-primary.nt-palette-hover.active,
  .nt-set-palette-sub .nt-palette-neutral .nt-palette-primary.nt-palette-hover:hover,
  .nt-set-palette-sub .nt-palette-neutral .nt-palette-primary.nt-palette-hover:hover:before,
  .nt-set-palette-sub .nt-palette-neutral .nt-palette-primary.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  .nt-set-palette-sub .nt-palette-neutral .nt-palette-primary.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  .nt-set-palette-sub .nt-palette-neutral .nt-palette-primary.nt-palette-hover:hover .nt-palette-inner-hover,
  .nt-set-palette-sub .nt-palette-neutral .nt-palette-primary.nt-palette-hover:hover .nt-palette-inner-hover:before,
  .nt-set-palette-sub .nt-palette-neutral .nt-palette-primary.nt-palette-hover:focus,
  .nt-set-palette-sub .nt-palette-neutral .nt-palette-primary.nt-palette-hover:focus:before,
  .nt-set-palette-sub .nt-palette-neutral .nt-palette-primary.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  .nt-set-palette-sub .nt-palette-neutral .nt-palette-primary.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  .nt-set-palette-sub .nt-palette-neutral .nt-palette-primary.nt-palette-hover.active,
  .nt-set-palette-sub a.nt-palette-primary.nt-palette-hover:hover,
  .nt-set-palette-sub a.nt-palette-primary.nt-palette-hover:hover:before,
  .nt-set-palette-sub a.nt-palette-primary.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  .nt-set-palette-sub a.nt-palette-primary.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  .nt-set-palette-sub a.nt-palette-primary.nt-palette-hover:hover .nt-palette-inner-hover,
  .nt-set-palette-sub a.nt-palette-primary.nt-palette-hover:hover .nt-palette-inner-hover:before,
  .nt-set-palette-sub a.nt-palette-primary.nt-palette-hover:focus,
  .nt-set-palette-sub a.nt-palette-primary.nt-palette-hover:focus:before,
  .nt-set-palette-sub a.nt-palette-primary.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  .nt-set-palette-sub a.nt-palette-primary.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  .nt-set-palette-sub a.nt-palette-primary.nt-palette-hover.active,
  .nt-set-palette-sub .nt-palette-active-primary.active.nt-palette-hover:hover,
  .nt-set-palette-sub .nt-palette-active-primary.active.nt-palette-hover:hover:before,
  .nt-set-palette-sub .nt-palette-active-primary.active.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  .nt-set-palette-sub .nt-palette-active-primary.active.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  .nt-set-palette-sub .nt-palette-active-primary.active.nt-palette-hover:hover .nt-palette-inner-hover,
  .nt-set-palette-sub .nt-palette-active-primary.active.nt-palette-hover:hover .nt-palette-inner-hover:before,
  .nt-set-palette-sub .nt-palette-active-primary.active.nt-palette-hover:focus,
  .nt-set-palette-sub .nt-palette-active-primary.active.nt-palette-hover:focus:before,
  .nt-set-palette-sub .nt-palette-active-primary.active.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  .nt-set-palette-sub .nt-palette-active-primary.active.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  .nt-set-palette-sub .nt-palette-active-primary.active.nt-palette-hover.active,
  .nt-set-palette-sub a.nt-palette-active-primary.active.nt-palette-hover:hover,
  .nt-set-palette-sub a.nt-palette-active-primary.active.nt-palette-hover:hover:before,
  .nt-set-palette-sub a.nt-palette-active-primary.active.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  .nt-set-palette-sub a.nt-palette-active-primary.active.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  .nt-set-palette-sub a.nt-palette-active-primary.active.nt-palette-hover:hover .nt-palette-inner-hover,
  .nt-set-palette-sub a.nt-palette-active-primary.active.nt-palette-hover:hover .nt-palette-inner-hover:before,
  .nt-set-palette-sub a.nt-palette-active-primary.active.nt-palette-hover:focus,
  .nt-set-palette-sub a.nt-palette-active-primary.active.nt-palette-hover:focus:before,
  .nt-set-palette-sub a.nt-palette-active-primary.active.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  .nt-set-palette-sub a.nt-palette-active-primary.active.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  .nt-set-palette-sub a.nt-palette-active-primary.active.nt-palette-hover.active,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating.nt-palette-hover:hover,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating.nt-palette-hover:hover:before,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating.nt-palette-hover:hover .nt-palette-inner-hover,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating.nt-palette-hover:hover .nt-palette-inner-hover:before,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating.nt-palette-hover:focus,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating.nt-palette-hover:focus:before,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating.nt-palette-hover.active,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating.nt-palette-hover:hover,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating.nt-palette-hover:hover:before,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating.nt-palette-hover:hover .nt-palette-inner-hover,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating.nt-palette-hover:hover .nt-palette-inner-hover:before,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating.nt-palette-hover:focus,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating.nt-palette-hover:focus:before,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating.nt-palette-hover.active {
    color: #2c2c2c; }
  .nt-set-palette-sub .nt-palette-primary.nt-palette-hover.nt-animated-selectorbg:hover:before, .nt-set-palette-sub .nt-palette-primary.nt-palette-hover.nt-animated-selectorbg:hover:after,
  .nt-set-palette-sub .nt-palette-secondary .nt-palette-primary.nt-palette-hover.nt-animated-selectorbg:hover:before,
  .nt-set-palette-sub .nt-palette-secondary .nt-palette-primary.nt-palette-hover.nt-animated-selectorbg:hover:after,
  .nt-set-palette-sub .nt-palette-neutral .nt-palette-primary.nt-palette-hover.nt-animated-selectorbg:hover:before,
  .nt-set-palette-sub .nt-palette-neutral .nt-palette-primary.nt-palette-hover.nt-animated-selectorbg:hover:after,
  .nt-set-palette-sub a.nt-palette-primary.nt-palette-hover.nt-animated-selectorbg:hover:before,
  .nt-set-palette-sub a.nt-palette-primary.nt-palette-hover.nt-animated-selectorbg:hover:after,
  .nt-set-palette-sub .nt-palette-active-primary.active.nt-palette-hover.nt-animated-selectorbg:hover:before,
  .nt-set-palette-sub .nt-palette-active-primary.active.nt-palette-hover.nt-animated-selectorbg:hover:after,
  .nt-set-palette-sub a.nt-palette-active-primary.active.nt-palette-hover.nt-animated-selectorbg:hover:before,
  .nt-set-palette-sub a.nt-palette-active-primary.active.nt-palette-hover.nt-animated-selectorbg:hover:after,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating.nt-palette-hover.nt-animated-selectorbg:hover:before,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd).nt-palette-alternating.nt-palette-hover.nt-animated-selectorbg:hover:after,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating.nt-palette-hover.nt-animated-selectorbg:hover:before,
  .nt-set-palette-sub .nt-palette-has-alternating:nth-child(odd) .nt-palette-alternating.nt-palette-hover.nt-animated-selectorbg:hover:after {
    background-color: !important; }

.nt-palette-primary .nt-language-toggle li a,
.nt-profile-header .nt-language-toggle li a,
.nt-palette-trails .nt-language-toggle li a {
  border-color: #6B3670;
  background-color: #FFF;
  color: #2c2c2c; }
  .nt-palette-primary .nt-language-toggle li a.active, .nt-palette-primary .nt-language-toggle li a:focus, .nt-palette-primary .nt-language-toggle li a:hover,
  .nt-profile-header .nt-language-toggle li a.active,
  .nt-profile-header .nt-language-toggle li a:focus,
  .nt-profile-header .nt-language-toggle li a:hover,
  .nt-palette-trails .nt-language-toggle li a.active,
  .nt-palette-trails .nt-language-toggle li a:focus,
  .nt-palette-trails .nt-language-toggle li a:hover {
    background-color: #6B3670;
    border-color: #6B3670;
    color: #FFF; }

/* @end Set Palettes - Top Tier */
.nt-home-template .nt-masthead nav li a,
.nt-home-template .nt-masthead .nt-logo a span.icon,
.nt-home-template .nt-masthead .nt-skip-to span.icon,
.nt-home-template .nt-masthead .nt-skip-to-nav::before {
  color: #fff; }

/*# sourceMappingURL=palette-6.css.map */
