/* Core */
/* overide Foundation settings */
/* custom vars */
/*
	Name That Color has been used for most colour names
	http://chir.ag/projects/name-that-color/
*/
/*
	Vertical Rhythm
*/
/*
	Max width for xlarge viewports
*/
/*
	Z-indexes
*/
/* Variables */
#main-content {
  width: 100%; }

.row {
  margin: 0 0; }

/* Hidden */
.text-hidden,
.nt-masthead,
.nt-supporting-information,
.nt-sponsor,
.nt-hero-carousel,
.nt-visitor-information,
.nt-trail-complete,
.nt-related-content,
.nt-related-items-container,
.nt-modal-map,
.nt-modal-video {
  display: none; }

/* Header */
h1 {
  width: 100% !important;
  margin-top: 0.25em; }

.nt-supplementory-description-subheading {
  margin-top: 1em; }

.nt-supplementory-description,
aside.nt-supplementory-description {
  display: block; }
  .nt-supplementory-description h2,
  .nt-supplementory-description .nt-property-cta,
  aside.nt-supplementory-description h2,
  aside.nt-supplementory-description .nt-property-cta {
    display: none; }
  .nt-supplementory-description ul,
  aside.nt-supplementory-description ul {
    margin: 0;
    padding: 0;
    border-top: 1px solid #999999; }
  .nt-supplementory-description li,
  aside.nt-supplementory-description li {
    list-style-type: none;
    margin: 0;
    padding: 0.45em 0;
    border-bottom: 1px solid #999999; }
  .nt-supplementory-description .icon,
  aside.nt-supplementory-description .icon {
    position: relative;
    top: 0.125em;
    display: inline-block;
    margin-right: 0.5em;
    font-size: 1.5em; }
  .nt-supplementory-description .text,
  aside.nt-supplementory-description .text {
    display: inline-block;
    margin: 0 0 0 0; }

/* Map */
.nt-trails-map .nt-tabs,
.nt-trails-map h3 {
  display: none; }
.nt-trails-map a:after {
  content: none;
  display: none; }
.nt-trails-map img {
  width: 100%; }

#places-trails-elevation {
  display: none; }

/* Trail steps */
.nt-trail-step-by-step {
  padding-top: 2em; }
  .nt-trail-step-by-step figure,
  .nt-trail-step-by-step img,
  .nt-trail-step-by-step .nt-trail-step-by-step-begin,
  .nt-trail-step-by-step .nt-line-device,
  .nt-trail-step-by-step .nt-trail-step-more,
  .nt-trail-step-by-step .nt-trail-step-less,
  .nt-trail-step-by-step .nt-trail-step-by-step-line {
    display: none; }
  .nt-trail-step-by-step h3 {
    font-weight: normal;
    font-size: 1.5em;
    line-height: 1.1667;
    font-family: NationalTrustDisplayTTRegular; }

/* Trail information */
.nt-modal .nt-logo,
.nt-modal .nt-back-to-top,
.nt-modal .nt-line-device,
.nt-modal .nt-page-title,
.nt-modal .button {
  display: none; }
.nt-modal dt {
  display: block;
  margin-top: 0.5em;
  font-weight: bold; }
  .nt-modal dt:after {
    content: ": "; }
.nt-modal dd {
  display: block;
  margin: 0;
  padding: 0; }

/* Layout */
#places-trails-map figure {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  padding-bottom: 68.5%;
  overflow: hidden;
  margin: 0;
  page-break-inside: avoid; }
#places-trails-map img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }
#places-trails-map figcaption {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0.125em;
  background-color: #fff; }

.nt-content-header-trails {
  margin-top: 68.5%;
  padding-top: 0.5em;
  width: 45%; }

.nt-trail-information-modals {
  width: 45%;
  page-break-inside: avoid; }

.nt-trail-step-by-step {
  position: absolute;
  top: 2em;
  right: 0;
  width: 45%;
  padding-top: 68.5%; }

.nt-trail-step-by-step-start,
.nt-trail-step-by-step-end,
.nt-trail-step {
  position: relative;
  page-break-inside: avoid; }
  .nt-trail-step-by-step-start h2,
  .nt-trail-step-by-step-end h2,
  .nt-trail-step h2 {
    position: absolute;
    top: 0;
    left: -20%;
    display: block;
    width: 15%;
    margin: 0 0 0 0;
    text-align: right; }

.nt-trail-step {
  min-height: 3em; }

.nt-trail-step-by-step-start h2,
.nt-trail-step-by-step-end h2 {
  font-size: 1em; }

/*# sourceMappingURL=print-trails.css.map */
