/* overide Foundation settings */
/* custom vars */
/*
	Name That Color has been used for most colour names
	http://chir.ag/projects/name-that-color/
*/
/*
	Vertical Rhythm
*/
/*
	Max width for xlarge viewports
*/
/*
	Z-indexes
*/
/* @start Palette Variables */
/*
	color name was used from confluence
	https://confluence.lbi.co.uk/display/NTWR/Top+Tier+colour+palettes
	https://confluence.lbi.co.uk/display/NTWR/Second+Tier+colour+palettes
	https://confluence.lbi.co.uk/display/NTWR/Search+colour+palette
*/
/************ Top Tier Color Palette ***********/
/* @end Set Palettes - Top Tier */
/************ Second Tier Color Palette ***********/
/************ Search Color Palette ***********/
/************ Calendar Palette ***********/
/************ Other Palette ***********/
/* @end Palette Variables */
/* @start Palette Mixins */
/* Used by mixin set-palette and mixin set-palette-ie8 only */
/* Used by mixin set-palette only */
/* Used by mixin set-palette-ie8 only */
/* @end Palette Mixins */
/* @start Set Palettes - calendar Tier */
.nt-palette-primary,
.nt-palette-secondary .nt-palette-primary,
.nt-palette-neutral .nt-palette-primary,
a.nt-palette-primary,
.nt-palette-active-primary.active,
a.nt-palette-active-primary.active {
  color: #2c2c2c;
  background-color: #E9EDED; }
  .nt-palette-primary:before, .nt-palette-primary:after,
  .nt-palette-secondary .nt-palette-primary:before,
  .nt-palette-secondary .nt-palette-primary:after,
  .nt-palette-neutral .nt-palette-primary:before,
  .nt-palette-neutral .nt-palette-primary:after,
  a.nt-palette-primary:before,
  a.nt-palette-primary:after,
  .nt-palette-active-primary.active:before,
  .nt-palette-active-primary.active:after,
  a.nt-palette-active-primary.active:before,
  a.nt-palette-active-primary.active:after {
    color: #2c2c2c;
    background-color: #E9EDED; }
  .nt-palette-primary .nt-tabs li a:hover, .nt-palette-primary .nt-tabs li a:focus, .nt-palette-primary .nt-tabs li a.active,
  .nt-palette-primary .nt-button:hover,
  .nt-palette-primary .nt-button:focus,
  .nt-palette-primary .nt-button.active,
  .nt-palette-secondary .nt-palette-primary .nt-tabs li a:hover,
  .nt-palette-secondary .nt-palette-primary .nt-tabs li a:focus,
  .nt-palette-secondary .nt-palette-primary .nt-tabs li a.active,
  .nt-palette-secondary .nt-palette-primary .nt-button:hover,
  .nt-palette-secondary .nt-palette-primary .nt-button:focus,
  .nt-palette-secondary .nt-palette-primary .nt-button.active,
  .nt-palette-neutral .nt-palette-primary .nt-tabs li a:hover,
  .nt-palette-neutral .nt-palette-primary .nt-tabs li a:focus,
  .nt-palette-neutral .nt-palette-primary .nt-tabs li a.active,
  .nt-palette-neutral .nt-palette-primary .nt-button:hover,
  .nt-palette-neutral .nt-palette-primary .nt-button:focus,
  .nt-palette-neutral .nt-palette-primary .nt-button.active,
  a.nt-palette-primary .nt-tabs li a:hover,
  a.nt-palette-primary .nt-tabs li a:focus,
  a.nt-palette-primary .nt-tabs li a.active,
  a.nt-palette-primary .nt-button:hover,
  a.nt-palette-primary .nt-button:focus,
  a.nt-palette-primary .nt-button.active,
  .nt-palette-active-primary.active .nt-tabs li a:hover,
  .nt-palette-active-primary.active .nt-tabs li a:focus,
  .nt-palette-active-primary.active .nt-tabs li a.active,
  .nt-palette-active-primary.active .nt-button:hover,
  .nt-palette-active-primary.active .nt-button:focus,
  .nt-palette-active-primary.active .nt-button.active,
  a.nt-palette-active-primary.active .nt-tabs li a:hover,
  a.nt-palette-active-primary.active .nt-tabs li a:focus,
  a.nt-palette-active-primary.active .nt-tabs li a.active,
  a.nt-palette-active-primary.active .nt-button:hover,
  a.nt-palette-active-primary.active .nt-button:focus,
  a.nt-palette-active-primary.active .nt-button.active {
    color: #E9EDED;
    background-color: #2c2c2c;
    border-color: #2c2c2c; }
  .nt-palette-primary .active > .nt-button,
  .nt-palette-secondary .nt-palette-primary .active > .nt-button,
  .nt-palette-neutral .nt-palette-primary .active > .nt-button,
  a.nt-palette-primary .active > .nt-button,
  .nt-palette-active-primary.active .active > .nt-button,
  a.nt-palette-active-primary.active .active > .nt-button {
    color: #E9EDED;
    background-color: #2c2c2c; }
  .nt-palette-primary.nt-link-invert:hover,
  .nt-palette-primary .nt-link-invert:hover,
  .nt-palette-secondary .nt-palette-primary.nt-link-invert:hover,
  .nt-palette-secondary .nt-palette-primary .nt-link-invert:hover,
  .nt-palette-neutral .nt-palette-primary.nt-link-invert:hover,
  .nt-palette-neutral .nt-palette-primary .nt-link-invert:hover,
  a.nt-palette-primary.nt-link-invert:hover,
  a.nt-palette-primary .nt-link-invert:hover,
  .nt-palette-active-primary.active.nt-link-invert:hover,
  .nt-palette-active-primary.active .nt-link-invert:hover,
  a.nt-palette-active-primary.active.nt-link-invert:hover,
  a.nt-palette-active-primary.active .nt-link-invert:hover {
    background-color: #2c2c2c;
    color: #E9EDED; }
  .nt-palette-primary.nt-palette-inverted,
  .nt-palette-secondary .nt-palette-primary.nt-palette-inverted,
  .nt-palette-neutral .nt-palette-primary.nt-palette-inverted,
  a.nt-palette-primary.nt-palette-inverted,
  .nt-palette-active-primary.active.nt-palette-inverted,
  a.nt-palette-active-primary.active.nt-palette-inverted {
    color: #E9EDED;
    background-color: #2c2c2c; }
    .nt-palette-primary.nt-palette-inverted:before, .nt-palette-primary.nt-palette-inverted:after,
    .nt-palette-secondary .nt-palette-primary.nt-palette-inverted:before,
    .nt-palette-secondary .nt-palette-primary.nt-palette-inverted:after,
    .nt-palette-neutral .nt-palette-primary.nt-palette-inverted:before,
    .nt-palette-neutral .nt-palette-primary.nt-palette-inverted:after,
    a.nt-palette-primary.nt-palette-inverted:before,
    a.nt-palette-primary.nt-palette-inverted:after,
    .nt-palette-active-primary.active.nt-palette-inverted:before,
    .nt-palette-active-primary.active.nt-palette-inverted:after,
    a.nt-palette-active-primary.active.nt-palette-inverted:before,
    a.nt-palette-active-primary.active.nt-palette-inverted:after {
      color: #E9EDED;
      background-color: #2c2c2c; }
  .nt-palette-primary.nt-palette-hover:hover, .nt-palette-primary.nt-palette-hover:hover:before, .nt-palette-primary.nt-palette-hover:hover + .nt-palette-adjacent-hover, .nt-palette-primary.nt-palette-hover:hover + .nt-palette-adjacent-hover:before, .nt-palette-primary.nt-palette-hover:hover .nt-palette-inner-hover, .nt-palette-primary.nt-palette-hover:hover .nt-palette-inner-hover:before, .nt-palette-primary.nt-palette-hover:focus, .nt-palette-primary.nt-palette-hover:focus:before, .nt-palette-primary.nt-palette-hover:focus + .nt-palette-adjacent-hover, .nt-palette-primary.nt-palette-hover:focus + .nt-palette-adjacent-hover:before, .nt-palette-primary.nt-palette-hover.active,
  .nt-palette-secondary .nt-palette-primary.nt-palette-hover:hover,
  .nt-palette-secondary .nt-palette-primary.nt-palette-hover:hover:before,
  .nt-palette-secondary .nt-palette-primary.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  .nt-palette-secondary .nt-palette-primary.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  .nt-palette-secondary .nt-palette-primary.nt-palette-hover:hover .nt-palette-inner-hover,
  .nt-palette-secondary .nt-palette-primary.nt-palette-hover:hover .nt-palette-inner-hover:before,
  .nt-palette-secondary .nt-palette-primary.nt-palette-hover:focus,
  .nt-palette-secondary .nt-palette-primary.nt-palette-hover:focus:before,
  .nt-palette-secondary .nt-palette-primary.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  .nt-palette-secondary .nt-palette-primary.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  .nt-palette-secondary .nt-palette-primary.nt-palette-hover.active,
  .nt-palette-neutral .nt-palette-primary.nt-palette-hover:hover,
  .nt-palette-neutral .nt-palette-primary.nt-palette-hover:hover:before,
  .nt-palette-neutral .nt-palette-primary.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  .nt-palette-neutral .nt-palette-primary.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  .nt-palette-neutral .nt-palette-primary.nt-palette-hover:hover .nt-palette-inner-hover,
  .nt-palette-neutral .nt-palette-primary.nt-palette-hover:hover .nt-palette-inner-hover:before,
  .nt-palette-neutral .nt-palette-primary.nt-palette-hover:focus,
  .nt-palette-neutral .nt-palette-primary.nt-palette-hover:focus:before,
  .nt-palette-neutral .nt-palette-primary.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  .nt-palette-neutral .nt-palette-primary.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  .nt-palette-neutral .nt-palette-primary.nt-palette-hover.active,
  a.nt-palette-primary.nt-palette-hover:hover,
  a.nt-palette-primary.nt-palette-hover:hover:before,
  a.nt-palette-primary.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  a.nt-palette-primary.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  a.nt-palette-primary.nt-palette-hover:hover .nt-palette-inner-hover,
  a.nt-palette-primary.nt-palette-hover:hover .nt-palette-inner-hover:before,
  a.nt-palette-primary.nt-palette-hover:focus,
  a.nt-palette-primary.nt-palette-hover:focus:before,
  a.nt-palette-primary.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  a.nt-palette-primary.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  a.nt-palette-primary.nt-palette-hover.active,
  .nt-palette-active-primary.active.nt-palette-hover:hover,
  .nt-palette-active-primary.active.nt-palette-hover:hover:before,
  .nt-palette-active-primary.active.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  .nt-palette-active-primary.active.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  .nt-palette-active-primary.active.nt-palette-hover:hover .nt-palette-inner-hover,
  .nt-palette-active-primary.active.nt-palette-hover:hover .nt-palette-inner-hover:before,
  .nt-palette-active-primary.active.nt-palette-hover:focus,
  .nt-palette-active-primary.active.nt-palette-hover:focus:before,
  .nt-palette-active-primary.active.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  .nt-palette-active-primary.active.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  .nt-palette-active-primary.active.nt-palette-hover.active,
  a.nt-palette-active-primary.active.nt-palette-hover:hover,
  a.nt-palette-active-primary.active.nt-palette-hover:hover:before,
  a.nt-palette-active-primary.active.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  a.nt-palette-active-primary.active.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  a.nt-palette-active-primary.active.nt-palette-hover:hover .nt-palette-inner-hover,
  a.nt-palette-active-primary.active.nt-palette-hover:hover .nt-palette-inner-hover:before,
  a.nt-palette-active-primary.active.nt-palette-hover:focus,
  a.nt-palette-active-primary.active.nt-palette-hover:focus:before,
  a.nt-palette-active-primary.active.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  a.nt-palette-active-primary.active.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  a.nt-palette-active-primary.active.nt-palette-hover.active {
    color: #2c2c2c; }
  .nt-palette-primary.nt-palette-hover.nt-animated-selectorbg:hover:before, .nt-palette-primary.nt-palette-hover.nt-animated-selectorbg:hover:after,
  .nt-palette-secondary .nt-palette-primary.nt-palette-hover.nt-animated-selectorbg:hover:before,
  .nt-palette-secondary .nt-palette-primary.nt-palette-hover.nt-animated-selectorbg:hover:after,
  .nt-palette-neutral .nt-palette-primary.nt-palette-hover.nt-animated-selectorbg:hover:before,
  .nt-palette-neutral .nt-palette-primary.nt-palette-hover.nt-animated-selectorbg:hover:after,
  a.nt-palette-primary.nt-palette-hover.nt-animated-selectorbg:hover:before,
  a.nt-palette-primary.nt-palette-hover.nt-animated-selectorbg:hover:after,
  .nt-palette-active-primary.active.nt-palette-hover.nt-animated-selectorbg:hover:before,
  .nt-palette-active-primary.active.nt-palette-hover.nt-animated-selectorbg:hover:after,
  a.nt-palette-active-primary.active.nt-palette-hover.nt-animated-selectorbg:hover:before,
  a.nt-palette-active-primary.active.nt-palette-hover.nt-animated-selectorbg:hover:after {
    background-color: !important; }

.nt-palette-secondary,
.nt-palette-primary .nt-palette-secondary,
.nt-palette-neutral .nt-palette-secondary,
a.nt-palette-secondary,
.nt-palette-active-secondary.active,
a.nt-palette-active-secondary.active,
.nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0,
.nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0 {
  color: #fff;
  background-color: #D01170; }
  .nt-palette-secondary:before, .nt-palette-secondary:after,
  .nt-palette-primary .nt-palette-secondary:before,
  .nt-palette-primary .nt-palette-secondary:after,
  .nt-palette-neutral .nt-palette-secondary:before,
  .nt-palette-neutral .nt-palette-secondary:after,
  a.nt-palette-secondary:before,
  a.nt-palette-secondary:after,
  .nt-palette-active-secondary.active:before,
  .nt-palette-active-secondary.active:after,
  a.nt-palette-active-secondary.active:before,
  a.nt-palette-active-secondary.active:after,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0:before,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0:after,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0:before,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0:after {
    color: #fff;
    background-color: #D01170; }
  .nt-palette-secondary .nt-tabs li a:hover, .nt-palette-secondary .nt-tabs li a:focus, .nt-palette-secondary .nt-tabs li a.active,
  .nt-palette-secondary .nt-button:hover,
  .nt-palette-secondary .nt-button:focus,
  .nt-palette-secondary .nt-button.active,
  .nt-palette-primary .nt-palette-secondary .nt-tabs li a:hover,
  .nt-palette-primary .nt-palette-secondary .nt-tabs li a:focus,
  .nt-palette-primary .nt-palette-secondary .nt-tabs li a.active,
  .nt-palette-primary .nt-palette-secondary .nt-button:hover,
  .nt-palette-primary .nt-palette-secondary .nt-button:focus,
  .nt-palette-primary .nt-palette-secondary .nt-button.active,
  .nt-palette-neutral .nt-palette-secondary .nt-tabs li a:hover,
  .nt-palette-neutral .nt-palette-secondary .nt-tabs li a:focus,
  .nt-palette-neutral .nt-palette-secondary .nt-tabs li a.active,
  .nt-palette-neutral .nt-palette-secondary .nt-button:hover,
  .nt-palette-neutral .nt-palette-secondary .nt-button:focus,
  .nt-palette-neutral .nt-palette-secondary .nt-button.active,
  a.nt-palette-secondary .nt-tabs li a:hover,
  a.nt-palette-secondary .nt-tabs li a:focus,
  a.nt-palette-secondary .nt-tabs li a.active,
  a.nt-palette-secondary .nt-button:hover,
  a.nt-palette-secondary .nt-button:focus,
  a.nt-palette-secondary .nt-button.active,
  .nt-palette-active-secondary.active .nt-tabs li a:hover,
  .nt-palette-active-secondary.active .nt-tabs li a:focus,
  .nt-palette-active-secondary.active .nt-tabs li a.active,
  .nt-palette-active-secondary.active .nt-button:hover,
  .nt-palette-active-secondary.active .nt-button:focus,
  .nt-palette-active-secondary.active .nt-button.active,
  a.nt-palette-active-secondary.active .nt-tabs li a:hover,
  a.nt-palette-active-secondary.active .nt-tabs li a:focus,
  a.nt-palette-active-secondary.active .nt-tabs li a.active,
  a.nt-palette-active-secondary.active .nt-button:hover,
  a.nt-palette-active-secondary.active .nt-button:focus,
  a.nt-palette-active-secondary.active .nt-button.active,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0 .nt-tabs li a:hover,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0 .nt-tabs li a:focus,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0 .nt-tabs li a.active,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0 .nt-button:hover,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0 .nt-button:focus,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0 .nt-button.active,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0 .nt-tabs li a:hover,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0 .nt-tabs li a:focus,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0 .nt-tabs li a.active,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0 .nt-button:hover,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0 .nt-button:focus,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0 .nt-button.active {
    color: #D01170;
    background-color: #fff;
    border-color: #fff; }
  .nt-palette-secondary .active > .nt-button,
  .nt-palette-primary .nt-palette-secondary .active > .nt-button,
  .nt-palette-neutral .nt-palette-secondary .active > .nt-button,
  a.nt-palette-secondary .active > .nt-button,
  .nt-palette-active-secondary.active .active > .nt-button,
  a.nt-palette-active-secondary.active .active > .nt-button,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0 .active > .nt-button,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0 .active > .nt-button {
    color: #D01170;
    background-color: #fff; }
  .nt-palette-secondary.nt-link-invert:hover,
  .nt-palette-secondary .nt-link-invert:hover,
  .nt-palette-primary .nt-palette-secondary.nt-link-invert:hover,
  .nt-palette-primary .nt-palette-secondary .nt-link-invert:hover,
  .nt-palette-neutral .nt-palette-secondary.nt-link-invert:hover,
  .nt-palette-neutral .nt-palette-secondary .nt-link-invert:hover,
  a.nt-palette-secondary.nt-link-invert:hover,
  a.nt-palette-secondary .nt-link-invert:hover,
  .nt-palette-active-secondary.active.nt-link-invert:hover,
  .nt-palette-active-secondary.active .nt-link-invert:hover,
  a.nt-palette-active-secondary.active.nt-link-invert:hover,
  a.nt-palette-active-secondary.active .nt-link-invert:hover,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0.nt-link-invert:hover,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0 .nt-link-invert:hover,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0.nt-link-invert:hover,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0 .nt-link-invert:hover {
    background-color: #fff;
    color: #D01170; }
  .nt-palette-secondary.nt-palette-inverted,
  .nt-palette-primary .nt-palette-secondary.nt-palette-inverted,
  .nt-palette-neutral .nt-palette-secondary.nt-palette-inverted,
  a.nt-palette-secondary.nt-palette-inverted,
  .nt-palette-active-secondary.active.nt-palette-inverted,
  a.nt-palette-active-secondary.active.nt-palette-inverted,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0.nt-palette-inverted,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0.nt-palette-inverted {
    color: #D01170;
    background-color: #fff; }
    .nt-palette-secondary.nt-palette-inverted:before, .nt-palette-secondary.nt-palette-inverted:after,
    .nt-palette-primary .nt-palette-secondary.nt-palette-inverted:before,
    .nt-palette-primary .nt-palette-secondary.nt-palette-inverted:after,
    .nt-palette-neutral .nt-palette-secondary.nt-palette-inverted:before,
    .nt-palette-neutral .nt-palette-secondary.nt-palette-inverted:after,
    a.nt-palette-secondary.nt-palette-inverted:before,
    a.nt-palette-secondary.nt-palette-inverted:after,
    .nt-palette-active-secondary.active.nt-palette-inverted:before,
    .nt-palette-active-secondary.active.nt-palette-inverted:after,
    a.nt-palette-active-secondary.active.nt-palette-inverted:before,
    a.nt-palette-active-secondary.active.nt-palette-inverted:after,
    .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0.nt-palette-inverted:before,
    .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0.nt-palette-inverted:after,
    .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0.nt-palette-inverted:before,
    .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0.nt-palette-inverted:after {
      color: #D01170;
      background-color: #fff; }
  .nt-palette-secondary.nt-palette-hover:hover, .nt-palette-secondary.nt-palette-hover:hover:before, .nt-palette-secondary.nt-palette-hover:hover + .nt-palette-adjacent-hover, .nt-palette-secondary.nt-palette-hover:hover + .nt-palette-adjacent-hover:before, .nt-palette-secondary.nt-palette-hover:hover .nt-palette-inner-hover, .nt-palette-secondary.nt-palette-hover:hover .nt-palette-inner-hover:before, .nt-palette-secondary.nt-palette-hover:focus, .nt-palette-secondary.nt-palette-hover:focus:before, .nt-palette-secondary.nt-palette-hover:focus + .nt-palette-adjacent-hover, .nt-palette-secondary.nt-palette-hover:focus + .nt-palette-adjacent-hover:before, .nt-palette-secondary.nt-palette-hover.active,
  .nt-palette-primary .nt-palette-secondary.nt-palette-hover:hover,
  .nt-palette-primary .nt-palette-secondary.nt-palette-hover:hover:before,
  .nt-palette-primary .nt-palette-secondary.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  .nt-palette-primary .nt-palette-secondary.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  .nt-palette-primary .nt-palette-secondary.nt-palette-hover:hover .nt-palette-inner-hover,
  .nt-palette-primary .nt-palette-secondary.nt-palette-hover:hover .nt-palette-inner-hover:before,
  .nt-palette-primary .nt-palette-secondary.nt-palette-hover:focus,
  .nt-palette-primary .nt-palette-secondary.nt-palette-hover:focus:before,
  .nt-palette-primary .nt-palette-secondary.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  .nt-palette-primary .nt-palette-secondary.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  .nt-palette-primary .nt-palette-secondary.nt-palette-hover.active,
  .nt-palette-neutral .nt-palette-secondary.nt-palette-hover:hover,
  .nt-palette-neutral .nt-palette-secondary.nt-palette-hover:hover:before,
  .nt-palette-neutral .nt-palette-secondary.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  .nt-palette-neutral .nt-palette-secondary.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  .nt-palette-neutral .nt-palette-secondary.nt-palette-hover:hover .nt-palette-inner-hover,
  .nt-palette-neutral .nt-palette-secondary.nt-palette-hover:hover .nt-palette-inner-hover:before,
  .nt-palette-neutral .nt-palette-secondary.nt-palette-hover:focus,
  .nt-palette-neutral .nt-palette-secondary.nt-palette-hover:focus:before,
  .nt-palette-neutral .nt-palette-secondary.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  .nt-palette-neutral .nt-palette-secondary.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  .nt-palette-neutral .nt-palette-secondary.nt-palette-hover.active,
  a.nt-palette-secondary.nt-palette-hover:hover,
  a.nt-palette-secondary.nt-palette-hover:hover:before,
  a.nt-palette-secondary.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  a.nt-palette-secondary.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  a.nt-palette-secondary.nt-palette-hover:hover .nt-palette-inner-hover,
  a.nt-palette-secondary.nt-palette-hover:hover .nt-palette-inner-hover:before,
  a.nt-palette-secondary.nt-palette-hover:focus,
  a.nt-palette-secondary.nt-palette-hover:focus:before,
  a.nt-palette-secondary.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  a.nt-palette-secondary.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  a.nt-palette-secondary.nt-palette-hover.active,
  .nt-palette-active-secondary.active.nt-palette-hover:hover,
  .nt-palette-active-secondary.active.nt-palette-hover:hover:before,
  .nt-palette-active-secondary.active.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  .nt-palette-active-secondary.active.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  .nt-palette-active-secondary.active.nt-palette-hover:hover .nt-palette-inner-hover,
  .nt-palette-active-secondary.active.nt-palette-hover:hover .nt-palette-inner-hover:before,
  .nt-palette-active-secondary.active.nt-palette-hover:focus,
  .nt-palette-active-secondary.active.nt-palette-hover:focus:before,
  .nt-palette-active-secondary.active.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  .nt-palette-active-secondary.active.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  .nt-palette-active-secondary.active.nt-palette-hover.active,
  a.nt-palette-active-secondary.active.nt-palette-hover:hover,
  a.nt-palette-active-secondary.active.nt-palette-hover:hover:before,
  a.nt-palette-active-secondary.active.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  a.nt-palette-active-secondary.active.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  a.nt-palette-active-secondary.active.nt-palette-hover:hover .nt-palette-inner-hover,
  a.nt-palette-active-secondary.active.nt-palette-hover:hover .nt-palette-inner-hover:before,
  a.nt-palette-active-secondary.active.nt-palette-hover:focus,
  a.nt-palette-active-secondary.active.nt-palette-hover:focus:before,
  a.nt-palette-active-secondary.active.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  a.nt-palette-active-secondary.active.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  a.nt-palette-active-secondary.active.nt-palette-hover.active,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0.nt-palette-hover:hover,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0.nt-palette-hover:hover:before,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0.nt-palette-hover:hover .nt-palette-inner-hover,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0.nt-palette-hover:hover .nt-palette-inner-hover:before,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0.nt-palette-hover:focus,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0.nt-palette-hover:focus:before,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0.nt-palette-hover.active,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0.nt-palette-hover:hover,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0.nt-palette-hover:hover:before,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0.nt-palette-hover:hover .nt-palette-inner-hover,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0.nt-palette-hover:hover .nt-palette-inner-hover:before,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0.nt-palette-hover:focus,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0.nt-palette-hover:focus:before,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0.nt-palette-hover.active {
    background-color: #AA0155;
    color: #fff; }
  .nt-palette-secondary.nt-palette-hover.nt-animated-selectorbg:hover:before, .nt-palette-secondary.nt-palette-hover.nt-animated-selectorbg:hover:after,
  .nt-palette-primary .nt-palette-secondary.nt-palette-hover.nt-animated-selectorbg:hover:before,
  .nt-palette-primary .nt-palette-secondary.nt-palette-hover.nt-animated-selectorbg:hover:after,
  .nt-palette-neutral .nt-palette-secondary.nt-palette-hover.nt-animated-selectorbg:hover:before,
  .nt-palette-neutral .nt-palette-secondary.nt-palette-hover.nt-animated-selectorbg:hover:after,
  a.nt-palette-secondary.nt-palette-hover.nt-animated-selectorbg:hover:before,
  a.nt-palette-secondary.nt-palette-hover.nt-animated-selectorbg:hover:after,
  .nt-palette-active-secondary.active.nt-palette-hover.nt-animated-selectorbg:hover:before,
  .nt-palette-active-secondary.active.nt-palette-hover.nt-animated-selectorbg:hover:after,
  a.nt-palette-active-secondary.active.nt-palette-hover.nt-animated-selectorbg:hover:before,
  a.nt-palette-active-secondary.active.nt-palette-hover.nt-animated-selectorbg:hover:after,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0.nt-palette-hover.nt-animated-selectorbg:hover:before,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-0.nt-palette-hover.nt-animated-selectorbg:hover:after,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0.nt-palette-hover.nt-animated-selectorbg:hover:before,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-0.nt-palette-hover.nt-animated-selectorbg:hover:after {
    background-color: #AA0155 !important; }

.nt-palette-accent,
a.nt-palette-accent,
.nt-palette-active-accent.active,
a.nt-palette-active-accent.active,
.nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1,
.nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1 {
  color: #fff;
  background-color: #107786; }
  .nt-palette-accent:before, .nt-palette-accent:after,
  a.nt-palette-accent:before,
  a.nt-palette-accent:after,
  .nt-palette-active-accent.active:before,
  .nt-palette-active-accent.active:after,
  a.nt-palette-active-accent.active:before,
  a.nt-palette-active-accent.active:after,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1:before,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1:after,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1:before,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1:after {
    color: #fff;
    background-color: #107786; }
  .nt-palette-accent .nt-tabs li a:hover, .nt-palette-accent .nt-tabs li a:focus, .nt-palette-accent .nt-tabs li a.active,
  .nt-palette-accent .nt-button:hover,
  .nt-palette-accent .nt-button:focus,
  .nt-palette-accent .nt-button.active,
  a.nt-palette-accent .nt-tabs li a:hover,
  a.nt-palette-accent .nt-tabs li a:focus,
  a.nt-palette-accent .nt-tabs li a.active,
  a.nt-palette-accent .nt-button:hover,
  a.nt-palette-accent .nt-button:focus,
  a.nt-palette-accent .nt-button.active,
  .nt-palette-active-accent.active .nt-tabs li a:hover,
  .nt-palette-active-accent.active .nt-tabs li a:focus,
  .nt-palette-active-accent.active .nt-tabs li a.active,
  .nt-palette-active-accent.active .nt-button:hover,
  .nt-palette-active-accent.active .nt-button:focus,
  .nt-palette-active-accent.active .nt-button.active,
  a.nt-palette-active-accent.active .nt-tabs li a:hover,
  a.nt-palette-active-accent.active .nt-tabs li a:focus,
  a.nt-palette-active-accent.active .nt-tabs li a.active,
  a.nt-palette-active-accent.active .nt-button:hover,
  a.nt-palette-active-accent.active .nt-button:focus,
  a.nt-palette-active-accent.active .nt-button.active,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1 .nt-tabs li a:hover,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1 .nt-tabs li a:focus,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1 .nt-tabs li a.active,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1 .nt-button:hover,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1 .nt-button:focus,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1 .nt-button.active,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1 .nt-tabs li a:hover,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1 .nt-tabs li a:focus,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1 .nt-tabs li a.active,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1 .nt-button:hover,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1 .nt-button:focus,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1 .nt-button.active {
    color: #107786;
    background-color: #fff;
    border-color: #fff; }
  .nt-palette-accent .active > .nt-button,
  a.nt-palette-accent .active > .nt-button,
  .nt-palette-active-accent.active .active > .nt-button,
  a.nt-palette-active-accent.active .active > .nt-button,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1 .active > .nt-button,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1 .active > .nt-button {
    color: #107786;
    background-color: #fff; }
  .nt-palette-accent.nt-link-invert:hover,
  .nt-palette-accent .nt-link-invert:hover,
  a.nt-palette-accent.nt-link-invert:hover,
  a.nt-palette-accent .nt-link-invert:hover,
  .nt-palette-active-accent.active.nt-link-invert:hover,
  .nt-palette-active-accent.active .nt-link-invert:hover,
  a.nt-palette-active-accent.active.nt-link-invert:hover,
  a.nt-palette-active-accent.active .nt-link-invert:hover,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1.nt-link-invert:hover,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1 .nt-link-invert:hover,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1.nt-link-invert:hover,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1 .nt-link-invert:hover {
    background-color: #fff;
    color: #107786; }
  .nt-palette-accent.nt-palette-inverted,
  a.nt-palette-accent.nt-palette-inverted,
  .nt-palette-active-accent.active.nt-palette-inverted,
  a.nt-palette-active-accent.active.nt-palette-inverted,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1.nt-palette-inverted,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1.nt-palette-inverted {
    color: #107786;
    background-color: #fff; }
    .nt-palette-accent.nt-palette-inverted:before, .nt-palette-accent.nt-palette-inverted:after,
    a.nt-palette-accent.nt-palette-inverted:before,
    a.nt-palette-accent.nt-palette-inverted:after,
    .nt-palette-active-accent.active.nt-palette-inverted:before,
    .nt-palette-active-accent.active.nt-palette-inverted:after,
    a.nt-palette-active-accent.active.nt-palette-inverted:before,
    a.nt-palette-active-accent.active.nt-palette-inverted:after,
    .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1.nt-palette-inverted:before,
    .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1.nt-palette-inverted:after,
    .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1.nt-palette-inverted:before,
    .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1.nt-palette-inverted:after {
      color: #107786;
      background-color: #fff; }
  .nt-palette-accent.nt-palette-hover:hover, .nt-palette-accent.nt-palette-hover:hover:before, .nt-palette-accent.nt-palette-hover:hover + .nt-palette-adjacent-hover, .nt-palette-accent.nt-palette-hover:hover + .nt-palette-adjacent-hover:before, .nt-palette-accent.nt-palette-hover:hover .nt-palette-inner-hover, .nt-palette-accent.nt-palette-hover:hover .nt-palette-inner-hover:before, .nt-palette-accent.nt-palette-hover:focus, .nt-palette-accent.nt-palette-hover:focus:before, .nt-palette-accent.nt-palette-hover:focus + .nt-palette-adjacent-hover, .nt-palette-accent.nt-palette-hover:focus + .nt-palette-adjacent-hover:before, .nt-palette-accent.nt-palette-hover.active,
  a.nt-palette-accent.nt-palette-hover:hover,
  a.nt-palette-accent.nt-palette-hover:hover:before,
  a.nt-palette-accent.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  a.nt-palette-accent.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  a.nt-palette-accent.nt-palette-hover:hover .nt-palette-inner-hover,
  a.nt-palette-accent.nt-palette-hover:hover .nt-palette-inner-hover:before,
  a.nt-palette-accent.nt-palette-hover:focus,
  a.nt-palette-accent.nt-palette-hover:focus:before,
  a.nt-palette-accent.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  a.nt-palette-accent.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  a.nt-palette-accent.nt-palette-hover.active,
  .nt-palette-active-accent.active.nt-palette-hover:hover,
  .nt-palette-active-accent.active.nt-palette-hover:hover:before,
  .nt-palette-active-accent.active.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  .nt-palette-active-accent.active.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  .nt-palette-active-accent.active.nt-palette-hover:hover .nt-palette-inner-hover,
  .nt-palette-active-accent.active.nt-palette-hover:hover .nt-palette-inner-hover:before,
  .nt-palette-active-accent.active.nt-palette-hover:focus,
  .nt-palette-active-accent.active.nt-palette-hover:focus:before,
  .nt-palette-active-accent.active.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  .nt-palette-active-accent.active.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  .nt-palette-active-accent.active.nt-palette-hover.active,
  a.nt-palette-active-accent.active.nt-palette-hover:hover,
  a.nt-palette-active-accent.active.nt-palette-hover:hover:before,
  a.nt-palette-active-accent.active.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  a.nt-palette-active-accent.active.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  a.nt-palette-active-accent.active.nt-palette-hover:hover .nt-palette-inner-hover,
  a.nt-palette-active-accent.active.nt-palette-hover:hover .nt-palette-inner-hover:before,
  a.nt-palette-active-accent.active.nt-palette-hover:focus,
  a.nt-palette-active-accent.active.nt-palette-hover:focus:before,
  a.nt-palette-active-accent.active.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  a.nt-palette-active-accent.active.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  a.nt-palette-active-accent.active.nt-palette-hover.active,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1.nt-palette-hover:hover,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1.nt-palette-hover:hover:before,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1.nt-palette-hover:hover .nt-palette-inner-hover,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1.nt-palette-hover:hover .nt-palette-inner-hover:before,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1.nt-palette-hover:focus,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1.nt-palette-hover:focus:before,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1.nt-palette-hover.active,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1.nt-palette-hover:hover,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1.nt-palette-hover:hover:before,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1.nt-palette-hover:hover + .nt-palette-adjacent-hover,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1.nt-palette-hover:hover + .nt-palette-adjacent-hover:before,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1.nt-palette-hover:hover .nt-palette-inner-hover,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1.nt-palette-hover:hover .nt-palette-inner-hover:before,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1.nt-palette-hover:focus,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1.nt-palette-hover:focus:before,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1.nt-palette-hover:focus + .nt-palette-adjacent-hover,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1.nt-palette-hover:focus + .nt-palette-adjacent-hover:before,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1.nt-palette-hover.active {
    background-color: #0C6573;
    color: #fff; }
  .nt-palette-accent.nt-palette-hover.nt-animated-selectorbg:hover:before, .nt-palette-accent.nt-palette-hover.nt-animated-selectorbg:hover:after,
  a.nt-palette-accent.nt-palette-hover.nt-animated-selectorbg:hover:before,
  a.nt-palette-accent.nt-palette-hover.nt-animated-selectorbg:hover:after,
  .nt-palette-active-accent.active.nt-palette-hover.nt-animated-selectorbg:hover:before,
  .nt-palette-active-accent.active.nt-palette-hover.nt-animated-selectorbg:hover:after,
  a.nt-palette-active-accent.active.nt-palette-hover.nt-animated-selectorbg:hover:before,
  a.nt-palette-active-accent.active.nt-palette-hover.nt-animated-selectorbg:hover:after,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1.nt-palette-hover.nt-animated-selectorbg:hover:before,
  .nt-primary-cta.nt-item-count-2 .nt-primary-cta-item-1.nt-palette-hover.nt-animated-selectorbg:hover:after,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1.nt-palette-hover.nt-animated-selectorbg:hover:before,
  .nt-primary-cta.nt-item-count-3 .nt-primary-cta-item-1.nt-palette-hover.nt-animated-selectorbg:hover:after {
    background-color: #0C6573 !important; }

.calendar-modal {
  background: #E9EDED; }
  .calendar-modal td {
    background: #fff;
    color: #757575; }
    .calendar-modal td.calendar-modal-days-past, .calendar-modal td.calendar-modal-empty {
      background: #F1F5F5;
      color: #c1c4c4; }
    .calendar-modal td.calendar-modal-next-month {
      background: #fff;
      color: #cbcbcb; }
    .calendar-modal td.calendar-modal-active {
      background: #107786;
      color: #fff; }
    .calendar-modal td.calendar-modal-active-start:before, .calendar-modal td.calendar-modal-active-end:before {
      border-color: #fff; }
    .calendar-modal td.calendar-modal-expanded .nt-td-inner:after {
      background: #107786; }
    .calendar-modal td.calendar-modal-time ul li a {
      border-bottom-color: rgba(255, 255, 255, 0.5); }
    .calendar-modal td.calendar-modal-time-and-note span,
    .calendar-modal td.calendar-modal-time-and-note p,
    .calendar-modal td.calendar-modal-time-and-note h5 {
      color: #fff; }

/* @end Set Palettes - calendar Tier */

/*# sourceMappingURL=palette-calendar-tier.css.map */
